@import '../node_modules/bootstrap/scss/bootstrap.scss';
//@import '../node_modules/font-awesome/scss/font-awesome.scss';







$primaryColor: rgb(255, 69, 69);
$secondaryColor: rgb(0, 0, 255);
$link-color: rgb(0, 0, 255);

body, html {
    height: 100%;
    display: inline;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", sans-serif;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    letter-spacing: 0.05rem;

}

body {
  overflow: hidden;
}


a {

    color: $primaryColor;
    transition: all 225ms ease 0ms;

    &:hover,
    &:focus {
        color: lighten($link-color, 50%);
    }
}

h1 {
  color: $secondaryColor;
}

//=== Drawing effect

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before { transition-delay: 0s, 0s, $duration; }

    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;


  &:focus { outline: 2px dotted #55d7dc; }
}

/* The hero image */
.full-image {
    /* The image used */
    background-image: url("./Brand_Intro_02.gif");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0px;

}


#Hold {

height: 100vh;
width: 100vw;
-webkit-transition: left 2s;
z-index: 1;

}


.choiceHoldMain {
  position: absolute;


  z-index: -1;
}

#choiceHoldInfo {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  padding-top: 10vh;
}

.choicehold {
  position: relative;
  left: 0px;
  height: 100vh;
  width: 100vw;

}




#StartInformation{
  height: 80vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;

  background-color: #f04d25 ;
}



/* Place text in the middle of the image */
.image-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



.wrapper {
    min-height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#row1 {
    background-color: white;
    flex:2;
    display: flex;
    justify-content: center;

}
#col1 {
    background-color: #243854 ;
    flex: 0 0 240px;
    margin: 25px ;
    justify-content: center;
}
#col2 {
    background-color: #4353a4 ;
    flex: 0 0 240px;
    margin: 25px ;
}
#col3 {
    background-color: #f04d25 ;
    flex: 0 0 240px;
    margin: 25px;
}
#col4 {
    background-color: grey;
    flex: 0 0 240px;
    margin: 25px ;
}
#row2 {
    background-color: red;
    display: flex;
    flex: .2;
    justify-content: center;
}
#col5 {
    background-color: pink;
    flex: 0 0 80%;
    margin: 25px;
}

#col6 {
  background-color: grey;
  flex: 0 0 100px;
  margin: 25px ;

}




/* disables choices options */
.disableItemSelect {
  pointer-events:none;
  opacity: 0.3;
}




.STIMainHold{

position: absolute;
top: 100vh;
left: 100vw;
overflow: hidden;
background-color: white;
width: 0vw;
height: 0vh;
margin: 0px;
padding: 0px;

}


.StiX3d{
  height: 600px;
  width: 400px;
  background-color: yellow;
  float: left;
}

.STIButtons {
width: 30%;
height: 100%;
display: block;
float: left;


}




.ButtonStylingSTI {

display: inline-block;
background-color: #243854;
font: 700 1rem 'Roboto Slab', sans-serif;

margin-right: 50%;
color: white;
width: 200px;
text-align: center;
}


.ButtonStylingSTI:hover {
  background-color: blue;
}

.STISmallHeading{
  margin-top: 10%;
  margin-bottom:  10%;
  background-color: transparent;
  font: 700 1.2rem 'Roboto Slab', sans-serif;

  font-size: 200%;
  color: #243854;
}

.STISmallHeading:hover {
background-color: transparent;

}

.closeSTI{height: 100px;
width: 100px;
background-color: grey;}

.x3d_scene{
  background-color: red;
  height: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.STIInfo{

  width: 20%;
  height: 100%;

}


.STIsymptomInfoBox{

  height: 60px;
  overflow: hidden;
  opacity: 0.0;
  position: absolute ;


  font: 700 1.2rem 'Roboto Slab', sans-serif;
  -webkit-transition: opacity 2s;
  width: 70%;
}

.STIsymptomInfoBox h1 {
  color: #243854;
}

.STIsymptomInfoBoxMove{
margin-top: 5%;

background-color: pink;
}

#OptionsHolder {
  background-color: red;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 100vh;
  visibility: hidden;

}

#AvaliableOptions{
  float: right;
  background-color: white;
}



#ReselectChoices{
width: 20%;
background-color: #243854;

height: 100vh;
}


.itemOpt {
background-color: #243854;
margin: 25px ;
width: 10%;
display: inline;
height: 30vh;
}

.ButtonStylingSTIHolder{
  margin-top: 10px;
  background-color: red;
  width: 10%;
}

/*
::-webkit-scrollbar {
display: none;
}*/
