@import '../node_modules/bootstrap/scss/bootstrap.scss';
//@import '../node_modules/font-awesome/scss/font-awesome.scss';
//@import "./scss/chatbox.scss";


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



// end of css reset

$primaryColor: #4353a4;
$secondaryColor: #f04d25;
$secondaryColorLight: #FE7150;
//$link-color: rgb(0, 0, 255);

body, html {
    height: 100%;
    display: inline;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", sans-serif;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    letter-spacing: 0.05rem;
    background-color: #f4f4f4;
		//background-image: url("./Background_New_Light_Grey.png");
	  //background-repeat: repeat;
		overflow-x: hidden;

}

.MenuLogo {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 14%;
    padding-bottom: 0%;

}

.MenuLogoExtra {
	height: 10px;
	background-color: white;
	background-image: url("./Background_New_Light_Grey.png");
	background-repeat: repeat;
}

#mainBackground{
  background-image: url("./Background_New_Light_Grey.png");
  background-repeat: repeat;
  width: 300px;
  //height: 300vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -7;
  border-right: 3px solid $primaryColor ;
}

#MenuFooter{
			color: white;
	    padding: 10%;
	    z-index: 10;
	    /* background-image: url(Background_New_Light_Grey.png); */
	    /* background-repeat: repeat; */
	    background-color: #fe7150;
	    height: 10%;
	    width: 100%;
	    position: absolute;
	        bottom: 0%;
	    border-right: 18px solid white;
	    padding-left: 10%;
}

body {
//  overflow: hidden;
}


// a {
//
//     color: $primaryColor;
//     transition: all 225ms ease 0ms;
//
//     &:hover,
//     &:focus {
//         color: lighten($link-color, 50%);
//     }
// }



//=== Drawing effect

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before { transition-delay: 0s, 0s, $duration; }

    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing($primaryColor, $secondaryColor, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
	background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em;
    /* letter-spacing: 0.05rem; */
    visibility: hidden;
   &:focus { outline: 0; }
}

#All_Show{
	background-color: #939393;

}

/* The hero image */
.full-image {
    /* The image used */
    // background-image: url("./Brand_Intro_02.gif");

    /* Set a specific height */
    // height: 100%;

    /* Position and center the image to scale nicely on all screens
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0px;*/


		background-image: url(Brand_Intro_02.gif);
	height: 100%;
	background-repeat: no-repeat;
	/* background-size: 66vw; */
	/* position: relative; */
	left: 0px;
	background-position-x: 9vw;
	width: 100vw;
	padding-left: 24vw;

}


#Hold {

height: 100vh;
width: 100vw;
-webkit-transition: left 2s;
z-index: 10;
position: fixed;
}


.choiceHoldMain {
	position: absolute;
	    z-index: -1;
	    left: 0px;
	    right: 0px;
	    width: 100vw;
	    padding-left: 24vw;
	    overflow-x: hidden;
}

#choiceHoldInfo {
	/* height: 45vh; */
/* width: 100vw; */
z-index: -1;
padding-top: 10vh;
  //background-color: #243854;
  //-webkit-clip-path: ellipse(100% 60% at 26% 36%);
//clip-path: ellipse(100% 60% at 26% 36%);

//-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 16%, 70% 56%, 0 82%, 0% 0);
//clip-path: polygon(50% 0%, 100% 0, 100% 16%, 70% 56%, 0 82%, 0% 0);
}

.choicehold {
	/* margin-left: 300px; */
	/* margin-right: 10vw; */
	padding-top: 11vh;
	/* padding-left: 300px; */
	/* height: 50vh; */
	/* width: 100vw; */
}

.SearchOptions{
		height: 100vh;
		width: 100vw;
		padding: 1vw;
		padding-left: 24vw;
		padding-top: 7vh;
		padding-right: 0vw;
		overflow-x: hidden;
}

.radioClasses{    /* width: 100%; */
    /* height: 100%; */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: 4px solid #ccc;
    border-top-color: #bbb;
    border-left-color: #bbb;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;}

.radioClasses:checked {
	background-color: red;
}


#SearchTitle {
margin-left: 0vw;
margin-top: 0vh;
padding-left: 1vw;
/* height: 30%; */
background-color: #243854;
font: 900 4.0rem 'Roboto Slab', sans-serif;
color: white;
width: 100%;
}

#searchH {
		background-color: #fe7150;
		width: 100%;
		/* margin-left: 1vw; */
		margin-top: 6vh;
		/* height: 9vh; */
		margin-bottom: 5vh;
		padding: 1vw;
		padding-right: 0vw;
		padding-top: 2%;
		color: white;
		font: 900 1.3rem 'Roboto Slab', sans-serif;
	}

#closeMainMenuOption1{
	/* width: 99%; */
/* height: 50vh; */
/* margin-left: 1vw; */
/* padding-right: 4vw; */
padding: 7vw;
background: white;
font: 900 2.2rem 'Roboto Slab', sans-serif;
/* border-radius: 25px; */
/* padding-top: 10vh; */
color: #f04d25;
}



#closeMainMenuOption2{
width: 50%;
margin-left: auto;
margin-right: auto;
height: 40vh;
background: #243854;
font-size: 170%;
border-radius: 25px;
padding-top: 0vh;
text-align: center;
color: $secondaryColor;
}

.ChoiceholdBack {
  text-align: center;
      position: absolute;
      top: 300vh;
      height: 100vh;
      width: 78vw;
      margin-left: 300px;
      -webkit-clip-path: polygon(75% 80%, 100% 32%, 100% 100%, 70% 100%, 0 100%, 0 68%);
      clip-path: polygon(75% 80%, 100% 32%, 100% 100%, 70% 100%, 0 100%, 0 68%);
      background-color: #243854;
      z-index: -2;
}


.ChoiceholdBackOPI{
  text-align: center;
position: absolute;
top: 0vh;
height: 100vh;
width: 100vw;
visibility: hidden;
  //-webkit-clip-path: polygon(75% 80%, 100% 32%, 100% 100%, 70% 100%, 0 100%, 0 68%);
  //clip-path: polygon(75% 80%, 100% 32%, 100% 100%, 70% 100%, 0 100%, 0 68%);
  background-color: #243854;
z-index: 2;
-webkit-clip-path: polygon(91% 93%, 100% 60%, 100% 100%, 0 100%, 0 89%, 14% 84%);
clip-path: polygon(91% 93%, 100% 60%, 100% 100%, 0 100%, 0 89%, 14% 84%);
}

.ChoiceholdBackOptions{
  text-align: center;
position: absolute;
top: 100vh;
height: 100vh;
width: 100vw;
  -webkit-clip-path: polygon(75% 80%, 100% 32%, 100% 100%, 70% 100%, 0 100%, 0 68%);
  clip-path: polygon(75% 80%, 100% 32%, 100% 100%, 70% 100%, 0 100%, 0 68%);
  background-color: #243854;
z-index: -1;
}

.ChoiceholdBackSTI{

position: fixed;

  -webkit-clip-path: polygon(75% 80%, 100% 32%, 100% 100%, 70% 100%, 0 100%, 0 68%);
  clip-path: polygon(75% 80%, 100% 32%, 100% 100%, 70% 100%, 0 100%, 0 68%);
  background-color: #243854;
z-index: -1;

opacity: 1.0;
}


#StartInformation{
	/* height: 80vh; */
width: 72vw;
/* padding-left: 31vw; */
/* padding-right: 12vw; */
}


#siteInformationHold1{
	width: 106%;
/* margin-left: -2vw; */
}

#siteInformation{
	margin-left: 0vw;
	margin-top: 0vh;
	padding-left: 3vw;
	height: 30%;
	background-color: #243854;
	/* padding-right: 0vw; */
}

#siteInformation3{
	background-color: #fe7150;
/* width: 100%; */
/* margin-left: 1vw; */
margin-top: 6vh;
height: 10vh;
padding: 4vw;
padding-top: 2%;
color: white;
font: 900 1.5em 'Roboto Slab', sans-serif;
}



.siteInformationSTIs {
	font: 900 3.5rem 'Roboto Slab', sans-serif;
	background-color: #243854;
	color: white;
	margin-top: 3%;
	/* margin-left: 24%; */
	width: 100%;
	padding-left: 10vw;
}

#siteInformation h1{
	font: 900 1.7em 'Roboto Slab', sans-serif;
	color: white;
}

#siteInformation p {
	font: 900 2.2rem 'Roboto Slab', sans-serif;

}

#siteInformationHold1{
//background-color: #243854;
}

#siteInformation p{
  height: 10vh;
  font: 900 2.2rem 'Roboto Slab', sans-serif;

  color: white;
}

.mainM {
	cursor: pointer;
color: white;
margin: 25px;
// height: 20vh;
text-align: center;
vertical-align: middle;
/* padding-top: 6vh; */
font: 900 2.2rem 'Roboto Slab', sans-serif;
}


#MainM1{
  color: white;
  background-color: #243854;
}

#MainM2{
  color: white;
  background-color: #629cba;
}

#MainM3{
  color: white;
  background-color: #fe7150;
}

#MainM4{
  color: white;
  background-color: #939393;
}

#siteInformation2{
	/* margin-top: 0vh; */
    margin-left: -1vw;
    font: 20 1.2rem 'Roboto Slab', sans-serif;
    /* width: 99%; */
    color: white;
    height: 30%;
    color: white;
}

#siteInformation2 h1{
	// padding: 12%;
	font: 900 2.0rem 'Roboto Slab', sans-serif;
	// padding-top: 25%;
}




#cars{
	visibility: hidden;
}





/* Place text in the middle of the image */
.image-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    color: white;
}

.GenderBackColours{

	background-color: #629cba;}

#SelectOptionCol0{
  background-color: $primaryColor;
}

#SelectOptionCol1{
  background-color: $primaryColor;

  #col2Options{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10% 0 10%;

    select {
      margin-bottom: 5%;
    }
  }
}

.choice{

}

.proceed{
  color: $primaryColor !important;
  transition: all 225ms ease 0ms;

  &:hover, &:focus { color: $secondaryColor; }
}

#SelectOptionCol2{
  background-color: $primaryColor;
}

#SelectOptionCol3{
  background-color: $primaryColor;
}

#SelectOptionCol4{
	padding-top: 50px;

}

#row1 {
    //background-color: white;
    flex:2;
    display: flex;
    justify-content: center;
}

.CircleChoiceSize{
	height: 30vh;
	width: 100%;
	display: flex;
	text-align: center;
	border-radius: 10px;
	color: white;
	/* justify-content: center; */
	flex-direction: column;

  ul {
   margin: 0;
   padding: 0;
   list-style: none;
   li{
     label{
       padding-left: 20px;
     }
   }
 }
}


.OptionsHeaders {
	/* background-color: red; */
border-radius: 10px;
padding-top: 10%;
margin-bottom: 1%;
color: white;
}


.choice {
  box-shadow: 5px 10px #D4D4D4;
}

.GenderHolders{
	padding-left: 2vw;
	margin-top: 14vh;
	padding-right: 2vw;
}

.col1Options{
	height: 14vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	    margin-bottom: 2vh;
}

.col1Options p {font-size: 10vh;}

#col3Options {


}

.aiOption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20%;
  margin: 0 20% 0 20%;
}

.aiButton {

}

#row2 {
    background-color: red;
    display: flex;
    flex: .2;
    justify-content: center;
}
#col5 {
    background-color: pink;

    margin: 25px;
}

#col6 {
  background-color: grey;
   /* 1:1 Aspect Ratio */

  margin: 25px ;
  border-radius: 50%;
}




/* disables choices options */
.disableItemSelect {
  pointer-events:none;
  opacity: 0.3;
}


#symptom1InfoMANScabiesNOHIDE {
  visibility: visible;
  height: 400px;
  opacity: 1.0;
}
 .STIMainHold, .STIMainHoldWoman, .STIMainHoldGW, .STIMainHoldGH, .STIMainHoldGon, .STIMainHoldSyph, .STIMainHoldPubLi, .STIMainHoldScabies, #OptionsHoldeMyth{

	 /* position: fixed; */
	 	z-index: 2;
width: 70vw;
		height: 100vh;
		margin: 0px;
/* padding-top: 34vw; */
/* padding: 8vw; */
		padding-left: 5vw;
/* padding-left: 5vw; */
 }

 .HygieneHold {
    /* position: fixed; */
    z-index: 2;
    width: 74vw;
    height: 50vh;
    margin: 0px;
    padding-top: 5vh;
    /* padding-left: 300px; */ }


.HygineInfoShift{
width: 100%;
}
// STIMainHoldWoman

.StiX3d{
  height: 600px;
  width: 400px;
  background-color: yellow;
  float: left;
}

.Myth_Gifs{
  height: auto;
  width: 98%;
   margin-left: 1%;

}

.STIButtons {
width: 30%;
height: 100%;
display: block;
float: left;


}


.ButtonStylingHygine{
	display: inline;
position: relative;
    top: 3vh;
background-color: #243854;
font: 700 1.5rem 'Roboto Slab', sans-serif;
margin-right: 2%;
margin-bottom: 0%;
color: white;
width: 100px;
margin-top: 0vh;
text-align: center;
height: 10vh;
}

.HygineSmallHeading{
	margin-bottom:  10%;
  background-color: transparent;
  font: 700 1.2rem 'Roboto Slab', sans-serif;

  font-size: 200%;
  color: #243854;
}

.ButtonStylingSTI {
cursor: pointer;
display: inline;
background-color: #243854;
font: 700 1rem 'Roboto Slab', sans-serif;
margin-right: 2%;
margin-bottom: 2%;
color: white;
width: 100px;
text-align: center;
}



.ButtonStylingSTI:hover {
  background-color: blue;
}


.STISmallHeading{

  /* margin-bottom:  10%;
  background-color: transparent;
  font: 700 1.2rem 'Roboto Slab', sans-serif;

  font-size: 200%;
  color: #243854; */
	margin-bottom: 8%;
background-color: transparent;
font: 700 2.5rem 'Roboto Slab', sans-serif;
/* font-size: 200%; */
color: #243854;
}

.colArt{
  margin-top: 10%;
	height: 25%;
}

.colArtHygine{
		margin-top: 10%;
	    height: 25%;
	    margin-left: 25%;
}

.ColBot {
		width: 100%;
    height: 40%;
		margin-top: 40%;
    //background-color: red;
}

.STISmallHeading:hover {
background-color: transparent;

}



#closeSTIMale, .closeSTIMale, #closeSTIMaleGH, #closeSTIMaleGW, #closeSTIMaleGon, #closeSTIMaleSyph, #closeSTIMalePubLi, #closeSTIMaleScabies, #closeMyths{
	height: 70px;
	width: 8vw;
	background-color: white;
	position: fixed;
	top: 5vh;
	left: 67.2vw;
	font-size: 90%;
	z-index: 20;
}


.closeSTIFemale, #closeSTIFemaleGW, .closeHygine, .closeContaception{
	height: 70px;
	width: 8vw;
	background-color: white;
	position: fixed;
	top: 5vh;
	left: 67.2vw;
	font-size: 90%;
	z-index: 20;
}



.x3d_scene{
	margin-top: 5vh;
background-color: red;
height: 10px;
width: 400px;
/* margin-left: auto; */
/* margin-right: auto; */
}

.x3d_sceneHygine{
	/* margin-top: 5vh; */
	background-color: red;
	height: 300px;
	width: 570px;
	margin-left: 1vw;
	/* margin-right: auto; */
}




.STIInfo{

  width: 20%;
  height: 100%;

}


.STIsymptomInfoBox{

  height: 400px;
  overflow: hidden;
  opacity: 0.0;
  position: absolute ;


  font: 700 1.2rem 'Roboto Slab', sans-serif;
  -webkit-transition: opacity 0.5s;
  width: 70%;
}

.STIsymptomInfoBox h1 {
  color: #243854;
}

.STIsymptomInfoBoxMove{
margin-top: 5%;

background-color: pink;
}


.AboutContact{


    width: 100vw;
    padding-left: 25vw;
    padding-right: 1vw;
}

.OptionsHolder {


	width: 76vw;
padding-left: 2vw;
padding-right: 1vw;
}

.MythsStyleHolder {


	width: 100%;
	padding-left: 6vw;
	/* padding-right: 1vw; */
}

.AvaliableOptions{
	/* float: right; */
	/* padding-left: 4vw; */
	width: 100%;
	/* padding-right: 0%; */
	/* border-left: 1px solid black; */
}

.mythback{
  background: none;

}

.whiteB {
	margin-bottom: 10vh;
	padding-left: 2vw;
	background-color: white;
}

.FilterOptionsAvaliable {
padding-left: 2vw;
}

.holdbtn {
visibility: visible;
color: white;
margin-right: 15px;
margin-bottom: 16px;}

#maleOptionsSelected,#OtherOptionsSelected, #FemaleOptionsSelected, #AboutSelected, #ContactSelected{
	font-size: 254%;
    margin-bottom: 5vh;
    margin-top: 6vh;
    /* padding-left: 13%; */
    padding-left: 19%;
    color: white;
    background-color: #243854;
    font: 900 4rem 'Roboto Slab', sans-serif;

}


#Aboutparent {
	margin-left: 0px;
	/* padding-left: 10%; */
	padding: 6vh;
	height: 60vh;
	background-color: white;
	color: #f04d25;
	font: 900 1.6rem 'Roboto Slab', sans-serif;
}

#Aboutparent h1 {
margin-bottom: 4%;
}

#ReselectChoices{

}


#options_Format{

  width: 80%;

}

#STIStyling{
	    background-color: #243854;
}

#MythStyling,.MythStyling{
	background-color: #4353a4;
}

.hygiene, #hygiene {
	background-color: #629cba;
}

#Contraception{
	background-color: #fe7150;
}


.itemOpt {
		//background-color: #4353a4;
    margin: 10px;
    width: 10%;
    display: inline;
    height: 11vh;
    color: white;
		cursor: pointer;
    /* padding: 10%; */
    border-radius: 5px;
    /* float: right; */
    /* padding-left: 28.4%; */
    width: 100%;
    /* padding-right: 0%; */
    /* border-left: 1px solid black; */
}

.STITitle {
	width: 100%;
	padding-left: 300px;
}

.STIStyling {
  background-color: #243854;
}

.Contraception {background: #fe7150;}

.itemOptMyth{
  background-color: #4353a4;
  margin: 25px ;
  border-radius: 10px;
  display: inline;

  width: 30vw;
  color: white;
  padding: 2vh;
  }

.ButtonStylingSTIHolder{
	margin-top: 8%;
	width: 80%;
	margin-left: 15px;
}


.x3d_sceneHygine_Margin {
	margin-bottom: 8vh;
}

.ButtonStylingHygineHolder{
	margin-top: 8%;
	width: 80%;
	margin-left: 15px;
	height: 54vh;
	overflow: scroll;
}

.HygineButtonHolder {
	margin-left: 12%;
	padding-top: 5%;
}

.treatmentInfo {
background-color: #243854;
color: white;
margin-top: 10%;
width: 75%;

}



.circle
  {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: blue;
  }


.OpenMenu{
  height: 10vh;
  width: 5vw;

  position: fixed;
  z-index: 3;
  top: 3vh;
  left: 3vw;

}

.OpenMenuLook {
  width: 4vw;
  height: 2vh;
  margin-top: 5px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 5px;
  background-color: $secondaryColor;

}

.CloseMenu{
  position: absolute;
  top: 2vh;
  right: 2vw;
  background-color: blue;
  width: 2vw;
  height: 2rem;
}

.chat-widget-wrapper {
	z-index: 5;
}



.compatabilityStyling{
	padding-left: 25vw;
    padding-right: 0vw;
}

#page-slide{
	background: #060606;
width: 24vw;
display: block;
height: 100vh;
left: 0px;
position: fixed;
transition: left 0.2s linear;
top: 0;
z-index: 5;
}

#toggle{
  color:white;
  font-size: 68px;
	width: 74px;
  height: 74px;
  background: $primaryColor;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  cursor: pointer;
  transition: left 0.2s linear;

  z-index: 2;
}
.slide{
  left: 0 !important;
  box-shadow: 0 1px 2px 3px rgba(0,0,0,0.6);
}
.slide-tog{
  left:0px !important;
}
.MenuOverride {
    /* height: 100vw;
    background-color: $primaryColor;
    overflow-x: hidden; */

		height: 101%;
	background-color: #243854;
	overflow-x: hidden;
	border-right: 18px solid white;

    ul{
    list-style: none;
    margin: 50px 0 0 0;
    padding-left: 0;
    }
    ul li{
    }
    ul li a{
    /* color: #cdcdcd;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    border: 1px solid #2f2f2f;

    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear; */
		color: white;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    /* border: 1px solid #2f2f2f; */
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    }
    ul li a:hover{
    color: #fff;
    background: $secondaryColorLight;
    -webkit-box-shadow: inset -150px 0px 100px 5px $secondaryColor;
    box-shadow: inset -150px 0px 100px 5px $secondaryColor;
    }
}



#MainMenuOption0{
padding-left: 26vw;
}

#MainMenuOption1{

}

#MainMenuOption2{

}




.menuLinkFormat{

  margin: 25px;
}

.closeMainMenuOptionStyling{


  height: 4vh;
  width: 2vw;
  background-color: blue;
}

#MainMenuOption1Inner {

}

.FooterHold{
text-align: center;
position: absolute;
bottom: 10px;
left: 45vw;
color: white;
}

#disclamer{
text-align: center;

}

.cookie-banner{
  display: none;
  height: auto;
  position: fixed;
  padding:4px 3%;
  z-index: 100;

  background-color: #eee;
  box-shadow: 0 1px 2px 3px rgba(0,0,0,0.6);

  &.top{
    display: block;
    border-bottom: 2px solid $secondaryColor;
    top: 0;
    margin-top: 0px;
  }

  &.full{
    left: 0;
    margin:0px;
    width: 100%;
  }
}

.cookie-banner p{
  float: left;
  width: 80%;
	padding-top: 1.5%;
  display: inline-block;
}

.cookie-banner .button{
  float: left;
  margin: 15px;
  width: 100px;
  height: 40px;
  z-index: 100;
  background: $secondaryColor;
  text-transform: uppercase;
  line-height: 28px;
  padding-top: 8px;
  display: inline-block;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}

.MythOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #243854;
	border-radius: 10px;
}

.MythOverlayText{

  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.itemOptMyth:hover .MythOverlay {
  opacity: 1;
}


.HelpHolder{
	width: 76vw;
height: 100vh;
z-index: 4;
position: fixed;
background-color: #f4f4f4;
}

.HelpHide {
	display: none;
}

#HelpLink{
	color: white;
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	/* border: 1px solid #2f2f2f; */
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-ms-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	transition: background 0.3s linear;
	cursor: pointer;
}

#HelpLink:hover {
	color: #fff;
	background: $secondaryColorLight;
	-webkit-box-shadow: inset -150px 0px 100px 5px $secondaryColor;
	box-shadow: inset -150px 0px 100px 5px $secondaryColor;
}

.helpHoldBack{
			background-color: #939393;
	    height: 100px;
	    width: 100px;
	    color: white;
	    margin-left: 1vw;
	    margin-right: 1vw;
	    text-decoration: none;
	    display: block;
	    padding: 29px 43px;
	    /* border: 1px solid #2f2f2f; */
	    -webkit-transition: background 0.3s linear;
	    -moz-transition: background 0.3s linear;
	    -ms-transition: background 0.3s linear;
	    -o-transition: background 0.3s linear;
	    transition: background 0.3s linear;
	    cursor: pointer;
}

.HelpRow{
// width: 100%;
}

.helpTitle {
	font: 900 4.0rem 'Roboto Slab', sans-serif;
background-color: #243854;
color: white;
margin-top: 3vh;
margin-bottom: 3vh;
padding-left: 10vw;
}







.helpHoldInfo{
	background-color: #939393;
	height: 50vh;
	width: 100px;
	color: white;
	margin-top: 3vh;
	margin-left: 1vw;
	margin-right: 1vw;
	text-decoration: none;
	/* display: block; */
	padding: 29px 43px;
	/* border: 1px solid #2f2f2f; */
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-ms-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	transition: background 0.3s linear;
	cursor: pointer;
}

.ThreeDHelp{
background: #243854;
}

.SearchHelp{
background: #629cba;
}

.Content{
background: #fe7150;
}

#ThreeDHelp{
background: #243854;
}

#SearchHelp{
background: #629cba;
}

#Content{
background: #fe7150;
}

.helpShow{
	display: none;
}

#CloseHelp {
		position: absolute;
    right: 2vw;
		cursor: pointer;
}

.SearchImageHeight{
	height: 25vh;
}

.TypesOfSexHold {

}
/*
::-webkit-scrollbar {
display: none;
}*/
