<template name="About">



<div class="AboutContact">

<div class="row">

<div class="AboutAvaliableOptions" >
<div id="AboutSelected">
  <div class="AboutBackHomeHelp">
  <button class="STIBackHomeHelp" id="ReturnHome">    <i class="fas fa-home"></i> </button>
  <button class="STIBackHomeHelp" id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
  <button class="STIBackHomeHelp" id="Help">          <i class="far fa-question-circle"></i> </button>
</div>

  <h1>About Salus</h1>
</div>

<div class=" " id="Aboutparent">

<h1>Salus is a sexual health service that allows you to explore sexual topics, such as STIs, sexual myths, sexual health topics, sexuality and more.
To find content relevant to your needs use the options below to filter for content. </h1>
</div>
</div>
</div>


</div>










</template>
