<template name="chat">
  <div class="container text-center">
    <div class="row">
        <div class="round hollow text-center">
            <a href="#" id="addClass"><span class="glyphicon glyphicon-comment"></span> Open in chat </a>
        </div>
    </div>
  </div>

  <div id="chat" style="display:none">
    <iframe
      width="350"
      height="430"
      src="https://console.dialogflow.com/api-client/demo/embedded/891cda18-4384-4d0b-b6ae-7758b623d985">
    </iframe>
  </div>
</template>
