<template name="chatbox">
  <div class="chat-widget-wrapper">
  <div class="chat-widget-container">
    <div class="chat-widget-text">
      <p class="heading">LIVE CHAT</p>
      <p>How can we help?</p>
    </div>
  </div>
  <div class="chat-box-container">
    <div class="chat-box-nav">
    </div>
    <div class="chat-box-content">
        <div class="chatlogs">
        </div>
        <div class="chat-form">
          <textarea id="chat-input"></textarea>
          <button class="send">Send</button>
          <span class="validation"><span class="iconWarning"></span>What?!? This is not valid!</span>
        </div>
    </div>
  </div>
</div>
</template>
