<template name="ChlamydiaMaleT">

  <script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
<div class="row compatabilityStyling">


  <div class="siteInformationSTIs row">
    <h1>Chlamydia </h1>

  <!--<p>Sexual Health information and services</p> -->
  </div>
  <div class="STIMainHold row">

      <div class=" col ">

        <div class="ReturnOptions">
          <div id="closeSTIMale">Close STI</div>
        </div>
        <div  class="x3d_scene">

        <x3d width='400px' height='600px'>
          <scene>
            <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
                <viewpoint position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <viewpoint id="ResetMAN" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <Viewpoint id="frontMAN" position="-0.07427 0.95329 -2.79608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera"></Viewpoint>
                <Viewpoint id="rightMAN" position="-2.43383 1.07351 -1.28700" orientation="-0.00318 -0.99950 -0.03159 2.06609" description="camera"></Viewpoint>

                <Viewpoint id="symptomAreaMAN" position="-0.00427 0.85329 -0.69608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
              <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                <Transform><inline  nameSpaceName="ChlamydiaModelMan" mapDEFToID="true" url="./STI_Models_Male/Chlamydia_Male.x3d"  ></inline></Transform>






            </scene>

          </x3d>
          </div>

      </div>

        <div class=" col ">
          <div class="colArt">


<div class="ButtonStylingSTI STISmallHeading">Chlamydia</div>
      <div class="ButtonStylingSTIHolder">
          <div class="row">
              <div class="ButtonStylingSTI " id="symptom1ChlMAN" onclick="symptomzoomMAN('symptomAreaMAN', 'ChlamydiaModelMan__MA_Man_Skin_TextureChlam', 'ChlamydiaModelMan__MA_Chla_Pain_peeing_Texture_MAN', 'ChlamydiaModelMan__MA_chla_Pee_texture_MAN')">Symptom 1</div>
              <div class="ButtonStylingSTI " id="symptom2ChlMAN" onclick="symptomzoom1MAN('symptomAreaMAN', 'ChlamydiaModelMan__MA_Man_Skin_TextureChlam', 'ChlamydiaModelMan__MA_Chl_Cherry_Pain_MAN', 'ChlamydiaModelMan__MA_Banana_texture_MAN', 'ChlamydiaModelMan__MA_Banana_texture_MAN1')">Symptom 2</div>
              <div class="ButtonStylingSTI " id="symptom3ChlMAN" onclick="symptomzoom2MAN('symptomAreaMAN', 'ChlamydiaModelMan__MA_Man_Skin_TextureChlam', 'ChlamydiaModelMan__MA_Chla_Discharge_MAN')">Symptom 3</div>
              <div class="ButtonStylingSTI " id="symptom4ChlMAN" onclick="symptomzoom3MAN('symptomAreaMAN', 'ChlamydiaModelMan__MA_Man_Skin_TextureChlam')">Symptom 4</div>
              <div class="ButtonStylingSTI " onclick="cameraChangeMAN('ResetMAN')" >Reset</div>

            </div>
          </div>


      <div class="row STIsymptomInfoBoxMove">
        <div class="STIsymptomInfoBox" id="symptom1ChlInfoMAN">
          <h1>Symptom 1</h1>
          <p>Pain and or a burning sensation when urinating </p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom2ChlInfoMAN">
          <h1>Symptom 2</h1>
          <p>Pain and or tenderness in the testicles</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom3ChlInfoMAN">
          <h1>Symptom 3</h1>
          <p>A white, cloudy or watery discharge from the tip of the penis</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom4ChlInfoMAN">
          <h1>Symptom 4</h1>
          <p>No symptoms</p>
        </div>

      </div>

      </div>
      <div class="ColBot">
        <div class="conditionInfo">

        </div>
      </div>
      </div>





</div></div>
<div class="ChoiceholdBackSTI">

</div>


<script type="text/javascript">

function symptomzoomMAN(symptoms, texture1, texture2, texture3) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.7');
document.getElementById(texture2).setAttribute('transparency', '0.0');
document.getElementById(texture3).setAttribute('transparency', '0.0');

document.getElementById('symptom1ChlInfoMAN').style.height = '400px';
document.getElementById('symptom1ChlInfoMAN').style.opacity = '1.0';
$( "#symptom2ChlMAN" ).addClass( "disableItemSelect" );
$( "#symptom3ChlMAN" ).addClass( "disableItemSelect" );
$( "#symptom4ChlMAN" ).addClass( "disableItemSelect" );
}

function symptomzoom1MAN(symptoms, texture1, texture2, texture3, texture4) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.7');
document.getElementById(texture2).setAttribute('transparency', '0.0');
document.getElementById(texture3).setAttribute('transparency', '1.0');
document.getElementById(texture4).setAttribute('transparency', '1.0');

document.getElementById('symptom2ChlInfoMAN').style.height = '400px';
document.getElementById('symptom2ChlInfoMAN').style.opacity = '1.0';
$( "#symptom1ChlMAN" ).addClass( "disableItemSelect" );
$( "#symptom3ChlMAN" ).addClass( "disableItemSelect" );
$( "#symptom4ChlMAN" ).addClass( "disableItemSelect" );
}

function symptomzoom2MAN (symptoms, texture1, texture2){
  document.getElementById(symptoms).setAttribute('set_bind','true');
  document.getElementById(texture1).setAttribute('transparency', '0.7');
  document.getElementById(texture2).setAttribute('transparency', '0.0');


  document.getElementById('symptom3ChlInfoMAN').style.height = '400px';
  document.getElementById('symptom3ChlInfoMAN').style.opacity = '1.0';
  $( "#symptom2ChlMAN" ).addClass( "disableItemSelect" );
  $( "#symptom1ChlMAN" ).addClass( "disableItemSelect" );
  $( "#symptom4ChlMAN" ).addClass( "disableItemSelect" );
}

function symptomzoom3MAN (symptoms, texture1){
  document.getElementById(symptoms).setAttribute('set_bind','true');
  document.getElementById(texture1).setAttribute('transparency', '0.7');

  document.getElementById('symptom4ChlInfoMAN').style.height = '400px';
  document.getElementById('symptom4ChlInfoMAN').style.opacity = '1.0';
  $( "#symptom3ChlMAN" ).addClass( "disableItemSelect" );
  $( "#symptom2ChlMAN" ).addClass( "disableItemSelect" );
  $( "#symptom1ChlMAN" ).addClass( "disableItemSelect" );
}

function cameraChangeMAN(Camera) {
document.getElementById(Camera).setAttribute('set_bind','true');
document.getElementById('ChlamydiaModelMan__MA_Man_Skin_TextureChlam').setAttribute('transparency', '0.0');
document.getElementById('ChlamydiaModelMan__MA_Chla_Pain_peeing_Texture_MAN').setAttribute('transparency', '1.0');
document.getElementById('ChlamydiaModelMan__MA_chla_Pee_texture_MAN').setAttribute('transparency', '1.0');
document.getElementById('ChlamydiaModelMan__MA_Chl_Cherry_Pain_MAN').setAttribute('transparency', '1.0');
document.getElementById('ChlamydiaModelMan__MA_Banana_texture_MAN').setAttribute('transparency', '0.0');
document.getElementById('ChlamydiaModelMan__MA_Banana_texture_MAN1').setAttribute('transparency', '0.0');
document.getElementById('ChlamydiaModelMan__MA_Chla_Discharge_MAN').setAttribute('transparency', '1.0');


$( "#symptom1ChlMAN" ).removeClass( "disableItemSelect" );
$( "#symptom2ChlMAN" ).removeClass( "disableItemSelect" );
$( "#symptom3ChlMAN" ).removeClass( "disableItemSelect" );
$( "#symptom4ChlMAN" ).removeClass( "disableItemSelect" );
document.getElementById('symptom1ChlInfoMAN').style.height = '60px';
document.getElementById('symptom2ChlInfoMAN').style.height = '60px';
document.getElementById('symptom3ChlInfoMAN').style.height = '60px';
document.getElementById('symptom4ChlInfoMAN').style.height = '60px';
document.getElementById('symptom1ChlInfoMAN').style.opacity = '0.0';
document.getElementById('symptom2ChlInfoMAN').style.opacity = '0.0';
document.getElementById('symptom3ChlInfoMAN').style.opacity = '0.0';
document.getElementById('symptom4ChlInfoMAN').style.opacity = '0.0';
}


</script>
</template>
