<template name="choice">

<div class="banner-wrapper">
    <div id="disclamer" class="cookie-banner highlight top full show">
      <p>Salus - site disclaimer and Cookie information can be found here <a href="https://drive.google.com/open?id=1wAKIT1UL7C4R6TJmnXFaWrQOH9m9ylNgDW1DaZdBnxU">Link</a></p>
      <a id="closeDisclamer" class="button" href="#">OK</a>
    </div>
</div>


<div class="choiceHoldMain">



  <div id="choiceHoldInfo">
<div id="StartInformation">

<div id="siteInformationHold1">


<div id="siteInformation">
  <h1>Salus </h1>

<!--<p>Sexual Health information and services</p> -->
</div>
<div id="siteInformation3">
  <p>
    Making asking 'those' questions that bit easier
  </p>
</div>

</div>


</div>


  </div>
<!-- hi
Need help on sexual health and welfare, talk to salus.
Salus provides you with information regarding STI's, sexuality and gender.
With this in mind we do request your age below to verify that you are of a sutiable age for the content.
Many thanks
Salus team


-->
  <div class="choicehold"  id="MainMenuOption1">
  <div id="closeMainMenuOption1" class="">
  <h1>What is Salus?</h1>
  <div id="siteInformation2">

  <div class="row">

    <div class="col-2 mainM" id="MainM1">
              <h1>About</h1>
    </div>

    <div class="col-2 mainM" id="MainM2">
              <h1>Search</h1>
    </div>

    <div class="col-2 mainM" id="MainM3">
              <h1>Contact</h1>
    </div>

    <div class="col-2 mainM" id="MainM4">
              <h1>Ask Salus?</h1>
    </div>

  </div>

    <!-- <p>
      Salus is a sexual health service that allows you to explore sexual topics, such as STIs, sexual myths, sexual health topics, sexuality and more.
      To find content relevant to your needs use the options below to filter for content.
    </p> -->
  </div>
  </div>


<!--
<div class="choicehold"  id="MainMenuOption2">
  <div id="closeMainMenuOption2" class="closeMainMenuOptionStyling">
    Salus
  </div>
</div>



<div class="ChoiceholdBack">
  <div class="FooterHold">
    HP237 JRS54
  </div>
</div>-->
</div>

</div>


<script type="text/javascript">

//Functions to disable options selects
var clickedCol1 = false;
var clickedCol3 = false;
var clickedCol4 = false;

//option1
$('#checkbox1').click(function(){

  if (clickedCol1 == true){
    $( "#col1Options" ).removeClass( "disableItemSelect" );
    clickedCol1 = false;
  } else {
    $( "#col1Options" ).addClass( "disableItemSelect" );
    clickedCol1 = true;
  }
});

//option2
$('#checkbox3').click(function(){

console.log("clicked");

  if (clickedCol3 == true){
    $( "#col3Options" ).removeClass( "disableItemSelect" );
    clickedCol3 = false;
  } else {
      $( "#col3Options" ).addClass( "disableItemSelect" );
      clickedCol3 = true;
    }
});

//option4
$('#checkbox4').click(function(){

  if (clickedCol4 == true){
    $( "#col4Options" ).removeClass( "disableItemSelect" );
    clickedCol4 = false;
  } else {
      $( "#col4Options" ).addClass( "disableItemSelect" );
      clickedCol4 = true;
    }
});




</script>

</template>
