<template name="choice">


<div id="disclamer">
  <p id="disclamerText">
  Salus - site disclaimer and Cookie information can be found here <a href="https://drive.google.com/open?id=1wAKIT1UL7C4R6TJmnXFaWrQOH9m9ylNgDW1DaZdBnxU">Link</a>
  </p>
  <div id="closeDisclamer">
    X
  </div>

</div>

<div class="OpenMenu">
  <div class="OpenMenuLook"></div>
  <div class="OpenMenuLook"></div>
  <div class="OpenMenuLook"></div>
</div>
<div class="MenuOverride">



  <div class="CloseMenu">
  X
  </div>
  <div id="MenuLinks">

    <div id="MenuLink1" class="menuLinkFormat">
      About Salus
    </div>
    <div id="MenuLink2" class="menuLinkFormat">
      Select content to display
    </div>
    <div id="MenuLink3" class="menuLinkFormat">
      Holder
    </div>

  </div>
</div>


<div class="choiceHoldMain">


  <div id="choiceHoldInfo">
<div id="StartInformation">


<div id="siteInformation">
  <h1>Salus - welfare and health</h1>

<p>


Sexual Health information and services
</p>

</div>
</div>


  </div>
<!-- hi
Need help on sexual health and welfare, talk to salus.
Salus provides you with information regarding STI's, sexuality and gender.
With this in mind we do request your age below to verify that you are of a sutiable age for the content.
Many thanks
Salus team


-->



  <div class="choicehold" id="MainMenuOption0">

      <div class="row h-50">

        <div class="col">
          <div id="SelectOptionCol0" class="CircleChoiceSize">
            <div id="checkbox1"> Use object</div>
              <div id="col1Options">
                <input type="radio" name="GenderOption" class="GenderOptionS" id="ManSelecter" value="Man"/>Man
                <input type="radio" name="GenderOption" class="GenderOptionS" id="WomanSelecter" value="Woman"/>woman
                <input type="radio" name="GenderOption" class="GenderOptionS" id="OtherSelecter" value="Other"/>Other
              </div>
          </div>
        </div>



        <div class="col">
          <div id="SelectOptionCol1" class="CircleChoiceSize">
            <select id="days"></select>
            <select id="months"></select>
            <select id="years"></select>
            <button class="clickbtn">Click Me</button>
            <p>You are {{counter}}.</p>
          </div>
        </div>

        <div class="col">
          <div id="SelectOptionCol2" class="CircleChoiceSize">
              <div id="checkbox3"> Use object</div>
                <div id="col3Options">
                  <input type="radio" name="SexualityOption" class="SexualityOptionS" id="HomosexualSelecter" value="Heterosexual"/>Heterosexual
                  <input type="radio" name="SexualityOption" class="SexualityOptionS" id="WomanSelecter" value="Homosexual"/>Homosexual
                  <input type="radio" name="SexualityOption" class="SexualityOptionS" id="OtherSelecter" value="Bisexual"/>Bisexual
                  <input type="radio" name="SexualityOption" class="SexualityOptionS" id="OtherSelecter" value="PreferNotTo"/>Prefer Not To Say
                </div>
          </div>
        </div>
        <div class="col">
          <div id="SelectOptionCol3" class="CircleChoiceSize">
            <div id="checkbox4"> Use object</div>
            <div id="col4Options">
              Hello
            </div>
          </div>
        </div>


        <div class="col">
          <div id="SelectOptionCol4" class="CircleChoiceSize">
            click me
          </div>
        </div>

      </div>



<div class="row h-50">
  <div class="col aiOption">
    AIHOLD AREA
  </div>
</div>



</div>

<div class="choicehold"  id="MainMenuOption1">
  <div id="closeMainMenuOption1" class="closeMainMenuOptionStyling">
    X
  </div>
</div>

<div class="choicehold"  id="MainMenuOption2">
  <div id="closeMainMenuOption2" class="closeMainMenuOptionStyling">
    X
  </div>
</div>



<div class="ChoiceholdBack">
  <div class="FooterHold">
    HP237 JRS54
  </div>
</div>
  </div>



<script type="text/javascript">

//Functions to disable options selects
var clickedCol1 = false;
var clickedCol3 = false;
var clickedCol4 = false;

//option1
$('#checkbox1').click(function(){

  if (clickedCol1 == true){
    $( "#col1Options" ).removeClass( "disableItemSelect" );
    clickedCol1 = false;
  } else {
    $( "#col1Options" ).addClass( "disableItemSelect" );
    clickedCol1 = true;
  }
});

//option2
$('#checkbox3').click(function(){

console.log("clicked");

  if (clickedCol3 == true){
    $( "#col3Options" ).removeClass( "disableItemSelect" );
    clickedCol3 = false;
  } else {
      $( "#col3Options" ).addClass( "disableItemSelect" );
      clickedCol3 = true;
    }
});

//option4
$('#checkbox4').click(function(){

  if (clickedCol4 == true){
    $( "#col4Options" ).removeClass( "disableItemSelect" );
    clickedCol4 = false;
  } else {
      $( "#col4Options" ).addClass( "disableItemSelect" );
      clickedCol4 = true;
    }
});




</script>
{{> OptionsSelected sharedVar1=sharedVarG}}
</template>
