<template name="CombinedPill">

  <script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
<div class="row compatabilityStyling">
  <div class="siteInformationSTIs row">
    <div class="STIBackHomeHelp" id="ReturnHome">    <i class="fas fa-home"></i> </div>
    <div class="STIBackHomeHelp" id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></div>
    <div class="STIBackHomeHelp" id="Help">          <i class="far fa-question-circle"></i> </div>
    <h1>Combined Pill </h1>

  <!--<p>Sexual Health information and services</p> -->
  </div>
  <div class="HygieneHold row">

      <div class="x3d_sceneHygine_Margin col ">

        <div class="ReturnOptions">
          <div class="closeHygine">Return</div>
        </div>
        <div  class="x3d_sceneHygine">


          <x3d class="NormalWHHyg MobileWH"  >
            <scene>
              <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
              <viewpoint position="-0.2005 1.2000 -1.09608"  orientation='-0.000 1.0 0.00219 3.2' centerOfRotation="-0.2005 1.0000 -0.29608"></viewpoint>
              <viewpoint id="Reset" position="-0.2005 1.2000 -1.09608"  orientation='-0.000 1.0 0.00219 3.2' centerOfRotation="-0.2005 1.0000 -0.29608"></viewpoint>


                <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                  <Transform><inline  nameSpaceName="FemaleModelWoman" mapDEFToID="true" url="./Contraception/Pill.x3d"  ></inline></Transform>
              </scene>
            </x3d>
            <div class="ButtonStylingHygine" onclick="cameraChange('Reset')" >Reset</div>
      </div>
      </div>

      <div class="col HygineInfoShift">
<div class=" HygineSmallHeading">Combined Pill</div>

          <p>
            The combined oral contraceptive pill is usually just called "the pill". It contains artificial versions of female hormones oestrogen and progesterone, which women produce naturally in their ovaries.
            <br/><br/>
            A woman can get pregnant if a man's sperm reaches one of her eggs (ova). Contraception tries to stop this happening usually by keeping the egg and sperm apart or by stopping the release of an egg (ovulation).            
        </p>
        <!-- https://www.nhs.uk/conditions/contraception/combined-contraceptive-pill/
      http://itspronouncedmetrosexual.com/2013/01/a-comprehensive-list-of-lgbtq-term-definitions/# -->

</div>


</div></div>

<script type="text/javascript">

      function cameraChange(Camera) {
      document.getElementById(Camera).setAttribute('set_bind','true');


      }


      </script>

</template>
