<template name="Condom">

  <script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
<div class="row compatabilityStyling">
  <div class="siteInformationSTIs row">
    <div class="STIBackHomeHelp" id="ReturnHome">    <i class="fas fa-home"></i> </div>
    <div class="STIBackHomeHelp" id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></div>
    <div class="STIBackHomeHelp" id="Help">          <i class="far fa-question-circle"></i> </div>
    <h1>Condoms </h1>

  <!--<p>Sexual Health information and services</p> -->
  </div>
  <div class="HygieneHold row">

      <div class="x3d_sceneHygine_Margin col ">

        <div class="ReturnOptions">
          <div class="closeHygine">Return</div>
        </div>
        <div  class="x3d_sceneHygine">


          <x3d class="NormalWHHyg MobileWH"  >
            <scene>
              <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
              <viewpoint position="-0.2005 0.7800 -3.29608"  orientation='-0.000 1.0 0.00219 3.2' centerOfRotation="-0.2005 1.0000 -0.29608"></viewpoint>
              <viewpoint id="Reset" position="-0.2005 0.7800 -3.29608"  orientation='-0.000 1.0 0.00219 3.2' centerOfRotation="-0.2005 1.0000 -0.29608"></viewpoint>


                <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                  <Transform><inline  nameSpaceName="FemaleModelWoman" mapDEFToID="true" url="./Contraception/Condom_02.x3d"  ></inline></Transform>
              </scene>
            </x3d>
            <div class="ButtonStylingHygine" onclick="cameraChange('Reset')" >Reset</div>
      </div>
      </div>

      <div class="col HygineInfoShift">
        <div class=" HygineSmallHeading">Condom</div>
            <div class="ButtonStylingHygineHolder">
        <div class="longer">

          <p>
            Condoms are the only type of contraception that can both prevent pregnancy and protect against sexually transmitted infections (STIs).
            <br/><br/>
            There are two types of condoms: male condoms, worn on the penis; and female condoms, worn inside the vagina.
            <br/><br/>
            Male condoms are made from very thin latex (rubber), polyisoprene or polyurethane and are designed to stop a man's semen from coming into contact with his sexual partner.
            <br/><br/>
            When used correctly every time you have sex, male condoms are 98% effective. This means 2 out of 100 women will become pregnant in one year when male condoms are used as contraception.
            <br/><br/>
Oil-based products – such as moisturiser, lotion and Vaseline – can damage latex and polyisoprene condoms, but they are safe to use with polyurethane condoms.
<br/><br/>
Water-based lubricant is safe to use with all condoms.
<br/><br/>
Condoms need to be stored in places that aren't too hot or cold, and away from sharp or rough surfaces that could tear them or wear them away.
<br/><br/>
If you're sensitive to latex, you can use polyurethane or polyisoprene condoms instead.
<br/><br/>
A condom must not be used more than once. Use a new one each time you have sex.
          <br/><br/>
          Condoms have a use-by date on the packaging. Don't use out-of-date condoms.
          <br/><br/>
          Always use condoms that have the BSI kite mark and the CE mark on the packet. This means they've been tested to high safety standards.
          </p>
          </div>
        </div>

    </div>
</div>


</div>

<script type="text/javascript">

      function cameraChange(Camera) {
      document.getElementById(Camera).setAttribute('set_bind','true');


      }


      </script>

</template>
