<template name="ContactTemp">



<div class="AboutContact">

<div class="row">


<!-- <div id="ReselectChoices" class="col-2">
<img src="./Logo/Logo_Normal.png"  alt="Logo"/>


</div> -->
<div class="AvaliableOptions" >
<div id="ContactSelected">
  <h1>Contact Salus</h1>
</div>

<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well well-sm">
      <form id="contact-form" class="form-horizontal" method="post">
      <fieldset>
        <legend class="text-center">Contact us</legend>
        <div id="success-container" class="text-center" style="display:none;">
          <p class="lead text-success"><span class="glyphicon glyphicon-ok"></span></p>
          <p class="lead">Your message has been sent successfully!</p>
        </div>

        <div id="form-container">

          <!-- Name input-->
          <div class="form-group">
            <label class="col-md-3 control-label" for="name">Name</label>
            <div class="col-md-9">
              <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
            </div>
          </div>

          <!-- Email input-->
          <div class="form-group">
            <label class="col-md-3 control-label" for="email">Your E-mail</label>
            <div class="col-md-9">
              <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
            </div>
          </div>

          <!-- Message body -->
          <div class="form-group">
            <label class="col-md-3 control-label" for="message">Your message</label>
            <div class="col-md-9">
              <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
            </div>
          </div>

          <!-- Form actions -->
          <div class="form-group">
            <div class="col-md-12 text-right" id="spin-area">
              <button type="submit" class="btn">Submit</button>
            </div>
          </div>
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>
</div>
</div>


</div>

</div>








</template>
