<template name="ContactTemp">



<div class="AboutContact">

<div class="row">

<div class="ContactUsMain" >
<div id="ContactSelected">
  <button class="MFOBackHomeHelp STIBackHomeHelp " id="ReturnHome">    <i class="fas fa-home"></i> </button>
  <button class="MFOBackHomeHelp STIBackHomeHelp " id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
  <button class="MFOBackHomeHelp MFOBackHomeHelpRightHelp STIBackHomeHelp " id="Help"> <i class="far fa-question-circle"></i> </button>
<h1 class="ContactStylingH1">Contact us</h1>
</div>

<div class="container">
<div class="row">

  <div class="col ContactUsText">
    <h1 class="BigTextContactUs">Contacting Salus </h1>
    <h1>You can use the form on this page to contact us about any enquires you may have regarding any queries you may have on Salus. We will try to get back to you as quick as we can.  </h1>
  </div>
  <div class="col-md-6 col-md-offset-3 FormBottomPaddingContactUs">
    <div class="well well-sm">
      <form id="contact-form" class="form-horizontal" method="post">
      <fieldset>
        <legend class="text-center"></legend>
        <div id="success-container" class="text-center" style="display:none;">
          <p class="lead text-success"><span class="glyphicon glyphicon-ok"></span></p>
          <p class="lead">Your message has been sent successfully!</p>
        </div>
        <div id="fail-container" class="text-center" style="display:none;">
          <p class="lead text-fail"><span class="glyphicon glyphicon-exclamation-sign"></span></p>
          <p class="lead">Your message failed to send, please try again!</p>
        </div>

        <div id="form-container">

          <!-- Name input-->
          <div class="form-group">
            <label class="col-md-3 control-label FormLabelStyling" for="name">Name</label>
            <div class="col-md-9">
              <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              <span id="nameInvalid" class="contactValidationHide contactValidationStyle">Invalid</span>
            </div>
          </div>

          <!-- Email input-->
          <div class="form-group">
            <label class="col-md-3 control-label FormLabelStyling" for="email">Your E-mail</label>
            <div class="col-md-9">
              <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              <span id="emailInvalid" class="contactValidationHide contactValidationStyle">Invalid</span>
            </div>
          </div>

          <!-- Message body -->
          <div class="form-group">
            <label class="col-md-3 control-label FormLabelStyling" for="message">Your message</label>
            <div class="col-md-9">
              <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="1"></textarea>
              <span id="messageInvalid" class="contactValidationHide contactValidationStyle">Invalid</span>
            </div>
          </div>

          <!-- Form actions -->
          <div class="form-group">
            <div class="col-md-12 SubmitContactArea" id="spin-area">
              <button type="submit" class="btn ButtonStylingContactSubmit">Submit</button>
            </div>
          </div>
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>
</div>
</div>


</div>

</div>








</template>
