<template name="FemaleOptions">



<div class="OptionsHolder">

<div class="row">


<!-- <div id="ReselectChoices" class="col-2">
<img src="./Logo/Logo_Normal.png"  alt="Logo"/>


</div> -->
<div class="AvaliableOptions" >
<div id="FemaleOptionsSelected">
  <h1>Salus - Female</h1>
</div>
<div class="FilterOptionsAvaliable">
  <button id="Sort" class=" holdbtn">A - Z </button>
  <button id="All_Show" class="btn holdbtn">All Options</button>
  <button id="STIStyling" class="btn holdbtn">STI</button>
  <button id="MythStyling" class="btn holdbtn">Myths</button>

</div>
<div class="row whiteB" >

  <button class="col-5 itemOpt STIStyling" id="FemaleChlamydiaOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      F Chlamydia
      <p>Female</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id='FemaleGenitalWartsOPTI' onclick=" alert('Hello! I am an alert box!!'); ">
      Genital Warts
      <p>Female</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="FemaleGenitalHerpesOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Genital Herpes
      <p>Female</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="FemaleGonorrhoeaOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Gonorrhoea
      <p>Female</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="FemaleSyphilisOPTI" onclick=" alert('Hello! I am an alert box!!');" >
    Syphilis
    <p>Female</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="FemalePubicLiceOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Pubic Lice
      <p>Female</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="FemaleScabiesOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Scabies
      <p>Female</p>
  </button>

  <button class="col-5 itemOpt MythStyling" id="MythsOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Sexual Myths
  </button>
</div>

</div>
</div>



<div class="ChoiceholdBackOPI">

</div>
</div>










</template>
