<template name="FemaleOptions">

<div class="row compatabilityStyling">

<div class="OptionsHolder">

<div class="row">


<!-- <div id="ReselectChoices" class="col-2">
<img src="./Logo/Logo_Normal.png"  alt="Logo"/>


</div> -->
<div class="AvaliableOptions" >
<div id="FemaleOptionsSelected">


      <div class="MaleFemaleOtherBackHomeHelp">
      <button class="MFOBackHomeHelp STIBackHomeHelp " id="ReturnHome">    <i class="fas fa-home"></i> </button>
      <button class="MFOBackHomeHelp STIBackHomeHelp " id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
      <button class="MFOBackHomeHelp MFOBackHomeHelpRightHelp STIBackHomeHelp " id="Help">          <i class="far fa-question-circle"></i> </button></div>
      <div class="MFOStylingH1"><h1>Female <i class="fas fa-venus"></i></h1> </div>

  </div>
  <button class="CloseFilter">Filter</button>
  <div class="FilterOptionsAvaliable FilterOptionsShow">

    <button id="All_Show" class="btn holdbtn">All Options</button>
    <button id="STIStyling" class="btn holdbtn">STI</button>
    <button id="MythStyling" class="btn holdbtn">Myths</button>
    <button id="hygiene" class="btn holdbtn">hygiene</button>
    <button id="Contraception" class="btn holdbtn">Contraception</button>

  </div>
<div class="row whiteB" id="parent">

    <button class="col-5 itemOpt STIStyling All_Show" id="FemaleChlamydiaOPTI" >
       Chlamydia
      <p><!-- Female --> <i class="fas fa-venus"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id='FemaleGenitalWartsOPTI'>
      Genital Warts
      <p><!-- Female --> <i class="fas fa-venus"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="FemaleGenitalHerpesOPTI" >
      Genital Herpes
      <p><!-- Female --> <i class="fas fa-venus"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="FemaleGonorrhoeaOPTI" >
      Gonorrhoea
      <p><!-- Female --> <i class="fas fa-venus"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="FemaleSyphilisOPTI" >
    Syphilis
    <p><!-- Female --> <i class="fas fa-venus"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="FemalePubicLiceOPTI" >
      Pubic Lice
      <p><!-- Female --> <i class="fas fa-venus"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="FemaleScabiesOPTI" >
      Scabies
      <p><!-- Female --> <i class="fas fa-venus"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="FemaleHIVOPTI" >
      HIV and Aids
      <p><!-- Female --> <i class="fas fa-venus"></i></p>
  </button>

  <button class="col-5 itemOpt MythStyling All_Show" id="MythsOPTI" >
      Sexual Myths
  </button>

  <button class="col-5 itemOpt hygiene All_Show" id="DoucheOPTI" >
      Anal Douche
  </button>

  <button class="col-5 itemOpt hygiene All_Show" id="TamponOPTI" >
      Tampon
  </button>

  <button class="col-5 itemOpt Contraception All_Show" id="CondomOPTI" >
      Condom
  </button>

  <button class="col-5 itemOpt Contraception All_Show" id="implantOPTI" >
      Implant
  </button>

  <button class="col-5 itemOpt Contraception All_Show" id="CombinedPillOPTI" >
      CombinedPill
  </button>



</div>

</div>
</div>
</div>
</div>




<script >



  var $btns = $('.btn').click(function() {
    console.log('clicked');
    console.log(this.id);
    if (this.id == 'all') {
      console.log('all');
      $('#parent > button').fadeIn(450);
    } else {
      console.log('else');
      var $el = $('.' + this.id).fadeIn(450);
      $('#parent > button').not($el).hide();
    }
    $btns.removeClass('active');
    $(this).addClass('active');
  })


// ask james
/*
$('.holdbtn').click(function() {

  $('.itemOpt').sort(function(a, b) {
    if (a.textContent < b.textContent) {
      return -1;
    } else {
      return 1;
    }
  }).appendTo('#parent');
})  */
</script>








</template>
