<template name="GenitalHerpesFemale">

<script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
<div class="row compatabilityStyling">
<div class="siteInformationSTIs row">
  <button class="STIBackHomeHelp" id="ReturnHome">    <i class="fas fa-home"></i> </button>
  <button class="STIBackHomeHelp" id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
  <button class="STIBackHomeHelp" id="Help">          <i class="far fa-question-circle"></i> </button>
  <h1>Genital Herpes <i class="fas fa-venus"></i></h1>

<!--<p>Sexual Health information and services</p> -->
</div>
<div class="STIMainHold row">

    <div class="w-50 col ">

      <div class="ReturnOptions">
        <div class="closeSTIFemale">Close STI</div>
      </div>
      <div  class="x3d_scene">


        <x3d class="NormalWH MobileWH">
          <scene>
            <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
                <viewpoint position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <viewpoint id="Reset" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <Viewpoint id="frontFemaleGH" position="-0.07427 0.95329 -2.79608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera"></Viewpoint>
                <Viewpoint id="rightFemaleGH" position="-2.43383 1.07351 -1.28700" orientation="-0.00318 -0.99950 -0.03159 2.06609" description="camera"></Viewpoint>

                <Viewpoint id="symptomAreaFemaleGH" position="-0.00427 0.85329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                <Viewpoint id="symptomAreaFemaleGHAnal" position="-0.0000 0.85329 0.39608" orientation="-0.01451 0.99989 0.00319 0.0" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
              <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                <Transform><inline  nameSpaceName="Genital_Herpes_Model_Man" mapDEFToID="true" url="./STI_Models_Female/Female_Genital_Herpes_02.x3d"  ></inline></Transform>






            </scene>

          </x3d>

                </div>
              </div>
                <div class=" col ">
                  <div class="colArt">


<div class="ButtonStylingSTI STISmallHeading">Genital Herpes</div>
      <div class="ButtonStylingSTIHolder">
          <div class="row">
              <button class="ButtonStylingSTI " id="symptom1FemaleGH" onclick="symptomzoomFemaleGH('symptomAreaFemaleGH', 'Genital_Herpes_Model_Man__MA_Woman_Thigh_genital_Blister_Texture_GH' )">Symptom 1</button>
              <button class="ButtonStylingSTI " id="symptom2FemaleGH" onclick="symptomzoom1FemaleGH('symptomAreaFemaleGHAnal', 'Genital_Herpes_Model_Man__MA_Woman_Anal_Blister_Texture_GH')">Symptom 2</button>

              <button class="ToShowOnSmallSTI " onclick="cameraModelReset('Reset')" >Reset</button>

              <button class="ToShowOnSmallSTI  moreinfoStyling" id="moreinfo" >More Info</button>


            </div>
          </div>


      <div class="row STIsymptomInfoBoxMove">
        <div class="STIsymptomInfoBox" id="symptom1InfoFemaleGH">
          <h1>Symptom 1</h1>
          <p>Red blisters may appear near the genitals</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom2InfoFemaleGH">
          <h1>Symptom 2</h1>
          <p>Red blisters near the anus</p>
        </div>
      </div>
      <div class="ResetAndMoreInfo ">
      <button class="ButtonStylingSTI ResetAndMoveInforStyling" onclick="cameraModelReset('Reset')" >Reset</button>
      <button class="ButtonStylingSTI ResetAndMoveInforStyling" id="moreinfo" >More Info <i class="far fa-arrow-alt-circle-down"></i></button>
      </div>
      </div>


</div>
<div class="ColBot">
  <div class="conditionInfo">

  </div>

</div></div></div>
<script type="text/javascript">

function symptomzoomFemaleGH(symptoms, texture1) {
ResetGHF();
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');

document.getElementById('symptom1InfoFemaleGH').style.opacity = '1.0';
}

function symptomzoom1FemaleGH(symptoms, texture1) {
ResetGHF();
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');

document.getElementById('symptom2InfoFemaleGH').style.opacity = '1.0';
}


function cameraModelReset(Camera) {
ResetGHF();
document.getElementById(Camera).setAttribute('set_bind','true');
}

function ResetGHF(){
  document.getElementById('Genital_Herpes_Model_Man__MA_Woman_Thigh_genital_Blister_Texture_GH').setAttribute('transparency', '1.0');
  document.getElementById('Genital_Herpes_Model_Man__MA_Woman_Anal_Blister_Texture_GH').setAttribute('transparency', '1.0');
  document.getElementById('symptom1InfoFemaleGH').style.opacity = '0.0';
  document.getElementById('symptom2InfoFemaleGH').style.opacity = '0.0';
}

</script>
</template>
