<template name="GonorrhoeaMale">

<script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
<div class="row compatabilityStyling">
<div class="siteInformationSTIs row">
  <button class="STIBackHomeHelp" id="ReturnHome">    <i class="fas fa-home"></i> </button>
  <button class="STIBackHomeHelp" id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
  <button class="STIBackHomeHelp" id="Help">          <i class="far fa-question-circle"></i> </button>
  <h1>Gonorrhoea  </h1>

<!--<p>Sexual Health information and services</p> -->
</div>
<div class="STIMainHold row">

    <div class="col ">

      <div class="ReturnOptions">
        <div id="closeSTIMale">Close STI</div>
      </div>
      <div  class="x3d_scene">

        <x3d class="NormalWH MobileWH">
          <scene>
            <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
                <viewpoint position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <viewpoint id="ResetMANGon" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <Viewpoint id="frontMANGon" position="-0.07427 0.95329 -2.79608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera"></Viewpoint>
                <Viewpoint id="rightMANGon" position="-2.43383 1.07351 -1.28700" orientation="-0.00318 -0.99950 -0.03159 2.06609" description="camera"></Viewpoint>

                <Viewpoint id="symptomAreaMANGon" position="-0.00427 0.85329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                <Viewpoint id="symptomAreaMANGonEyes" position="-0.00427 1.65329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                <Viewpoint id="symptomAreaMANGonThroat" position="-0.00427 1.45329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>


                <Viewpoint id="testing" position="-0.00427 0.45329 -2.9608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
              <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                <Transform><inline  nameSpaceName="GonorrhoeaModelMan" mapDEFToID="true" url="./STI_Models_Male/Gonorrhoea_Male.x3d"  ></inline></Transform>






            </scene>

          </x3d>
          </div>

      </div>

        <div class=" col ">
          <div class="colArt">


<div class="ButtonStylingSTI STISmallHeading">Gonorrhoea</div>
      <div class="ButtonStylingSTIHolder">
          <div class="row">
              <button class="ButtonStylingSTI " id="symptom1GonMAN" onclick="symptomzoomMANGon('symptomAreaMANGon', 'GonorrhoeaModelMan__MA_discharge_Gon1', 'GonorrhoeaModelMan__MA_discharge_Gon', 'GonorrhoeaModelMan__MA_Discharge_Gon1')">Symptom 1</button>
              <button class="ButtonStylingSTI " id="symptom2GonMAN" onclick="symptomzoom1MANGon('symptomAreaMANGon', 'GonorrhoeaModelMan__MA_Pee_Gon', 'GonorrhoeaModelMan__MA_Pain_When_Peeing_Gon')">Symptom 2</button>
              <button class="ButtonStylingSTI " id="symptom3GonMAN" onclick="symptomzoom2MANGon('symptomAreaMANGon', 'GonorrhoeaModelMan__MA_Man_Skin_TextureGon', 'GonorrhoeaModelMan__MA_Cherry_Pain_Gon', 'GonorrhoeaModelMan__MA_Banana_texture_MANGW')">Symptom 3</button>
              <button class="ButtonStylingSTI " id="symptom4GonMAN" onclick="symptomzoom3MANGon('symptomAreaMANGonEyes', 'GonorrhoeaModelMan__MA_Man_Skin_TextureGon', 'GonorrhoeaModelMan__MA_Eye_Gon_Texture')">Symptom 4</button>
              <button class="ButtonStylingSTI " id="symptom5GonMAN" onclick="symptomzoom4MANGon('symptomAreaMANGonThroat', 'GonorrhoeaModelMan__MA_Man_Skin_TextureGon', 'GonorrhoeaModelMan__MA_Throat_Gon_Texture')">Symptom 5</button>

              <button class="ToShowOnSmallSTI " onclick="cameraChangeMANGon('ResetMANGon')" >Reset</button>

              <button class="ToShowOnSmallSTI  moreinfoStyling" id="moreinfo" >More Info</button>

            </div>
          </div>


      <div class="row STIsymptomInfoBoxMove">
        <div class="STIsymptomInfoBox" id="symptom1InfoMANGon">
          <h1>Symptom 1</h1>
          <p>A white, yellow or Green discharge may appear from the tip of the penis. </p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom2InfoMANGon">
          <h1>Symptom 2</h1>
          <p>A pain or burning sensation may occur while peeing</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom3InfoMANGon">
          <h1>Symptom 3</h1>
          <p>Pain or tenderness in the testicles</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom4InfoMANGon">
          <h1>Symptom 4</h1>
          <p>Gonorrhoea can affect the eyes </p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom5InfoMANGon">
          <h1>Symptom 5</h1>
          <p>Gonorrhoea can affect the throat</p>
        </div>
      </div>
      <div class="ResetAndMoreInfo ">
      <button class="ButtonStylingSTI ResetAndMoveInforStyling" onclick="cameraChangeMAN('ResetMAN')" >Reset</button>
      <button class="ButtonStylingSTI ResetAndMoveInforStyling" id="moreinfo" >More Info <i class="far fa-arrow-alt-circle-down"></i></button>
      </div>
      </div>

      </div>
      <div class="ColBot">
        <div class="conditionInfo">

        </div>

      </div>
</div>
</div>

<script type="text/javascript">

function symptomzoomMANGon(symptoms, texture1, texture2, texture3) {
ResetGonM();

document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');
document.getElementById(texture2).setAttribute('transparency', '0.0');
document.getElementById(texture3).setAttribute('transparency', '0.0');

document.getElementById('symptom1InfoMANGon').style.opacity = '1.0';
}

function symptomzoom1MANGon(symptoms, texture1, texture2) {
ResetGonM();
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');
document.getElementById(texture2).setAttribute('transparency', '0.0');


document.getElementById('symptom2InfoMANGon').style.opacity = '1.0';
}

function symptomzoom2MANGon(symptoms, texture1, texture2, texture3) {
ResetGonM();
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');
document.getElementById(texture2).setAttribute('transparency', '0.0');
document.getElementById(texture3).setAttribute('transparency', '1.0');


document.getElementById('symptom3InfoMANGon').style.opacity = '1.0';
}

function symptomzoom3MANGon(symptoms, texture1, texture2) {
ResetGonM();
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.7');
document.getElementById(texture2).setAttribute('transparency', '0.0');

document.getElementById('symptom4InfoMANGon').style.opacity = '1.0';
}

function symptomzoom4MANGon(symptoms, texture1, texture2) {
ResetGonM();
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.7');
document.getElementById(texture2).setAttribute('transparency', '0.0');



document.getElementById('symptom5InfoMANGon').style.opacity = '1.0';

}


function cameraChangeMANGon(Camera) {
ResetGonM();
document.getElementById(Camera).setAttribute('set_bind','true');
}

//function ChlamydiaName(){
//document.getElementById('Genital_WartsModelMan__MA_typeBlinn1').setAttribute('diffuseColor', '0 5 0');
//document.getElementById('Genital_WartsModelMan__MA_typeBlinn1').setAttribute('transparency', '0.0');
//}
function ResetGonM(){
  document.getElementById('GonorrhoeaModelMan__MA_Man_Skin_TextureGon').setAttribute('transparency', '0.0');
  document.getElementById('GonorrhoeaModelMan__MA_discharge_Gon1').setAttribute('transparency', '1.0');
  document.getElementById('GonorrhoeaModelMan__MA_discharge_Gon').setAttribute('transparency', '1.0');
  document.getElementById('GonorrhoeaModelMan__MA_Discharge_Gon1').setAttribute('transparency', '1.0');
  document.getElementById('GonorrhoeaModelMan__MA_Pee_Gon').setAttribute('transparency', '1.0');
  document.getElementById('GonorrhoeaModelMan__MA_Pain_When_Peeing_Gon').setAttribute('transparency', '1.0');
  document.getElementById('GonorrhoeaModelMan__MA_Cherry_Pain_Gon').setAttribute('transparency', '1.0');
  document.getElementById('GonorrhoeaModelMan__MA_Banana_texture_MANGW').setAttribute('transparency', '0.0');
  document.getElementById('GonorrhoeaModelMan__MA_Eye_Gon_Texture').setAttribute('transparency', '1.0');
  document.getElementById('GonorrhoeaModelMan__MA_Throat_Gon_Texture').setAttribute('transparency', '1.0');

  document.getElementById('symptom1InfoMANGon').style.opacity = '0.0';
  document.getElementById('symptom2InfoMANGon').style.opacity = '0.0';
  document.getElementById('symptom3InfoMANGon').style.opacity = '0.0';
  document.getElementById('symptom4InfoMANGon').style.opacity = '0.0';
  document.getElementById('symptom5InfoMANGon').style.opacity = '0.0';
}

</script>
</template>
