<template name="GonorrhoeaFemale">

  <script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
<div class="row compatabilityStyling">
  <div class="siteInformationSTIs row">
    <h1>Female Gonorrhoea </h1>

  <!--<p>Sexual Health information and services</p> -->
  </div>
  <div class="STIMainHold row">

      <div class="w-50 col ">

        <div class="ReturnOptions">
          <div class="closeSTIFemale">Close STI</div>
        </div>
        <div  class="x3d_scene">


          <x3d width='400px' height='600px'  >
            <scene>
              <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
                  <viewpoint position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                  <viewpoint id="Reset" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                  <Viewpoint id="front" position="-0.07427 0.95329 -2.79608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera"></Viewpoint>
                  <Viewpoint id="right" position="-2.43383 1.07351 -1.28700" orientation="-0.00318 -0.99950 -0.03159 2.06609" description="camera"></Viewpoint>

                  <Viewpoint id="symptomAreaFemaleGon" position="-0.00427 0.85329 -0.69608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                  <Viewpoint id="symptomAreaFemaleGonEyes" position="-0.00427 1.65329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                  <Viewpoint id="symptomAreaFemaleGonThroat" position="-0.00427 1.45329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>

                <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                  <Transform><inline  nameSpaceName="GonorrhoeaModelWoman" mapDEFToID="true" url="./STI_Models_Female/Female_Gonorrhoea.x3d"  ></inline></Transform>
              </scene>
            </x3d>

      </div>
    </div>
      <div class=" col ">
        <div class="colArt">


<div class="ButtonStylingSTI STISmallHeading">Gonorrhoea</div>
    <div class="ButtonStylingSTIHolder">
          <div class="row">


            <div class="ButtonStylingSTI " id="symptom1GonWoman" onclick="symptomzoom1('symptomAreaFemaleGon', 'GonorrhoeaModelWoman__MA_Female_skin', 'GonorrhoeaModelWoman__MA_Pee_Gon', 'GonorrhoeaModelWoman__MA_Pain_gon', 'GonorrhoeaModelWoman__MA_Pain_in_the_tummy')">Symptom 1</div>
            <div class="ButtonStylingSTI " id="symptom2GonWoman" onclick="symptomzoom2('symptomAreaFemaleGon', 'GonorrhoeaModelWoman__MA_Female_skin', 'GonorrhoeaModelWoman__MA_Discharge_gon1', 'GonorrhoeaModelWoman__MA_Discharge_gon2', 'GonorrhoeaModelWoman__MA_Discharge_gon3', 'GonorrhoeaModelWoman__MA_Pain_in_the_tummy')">Symptom 2</div>
            <div class="ButtonStylingSTI " id="symptom3GonWoman" onclick="symptomzoom3('symptomAreaFemaleGonEyes', 'GonorrhoeaModelWoman__MA_Female_skin', 'GonorrhoeaModelWoman__MA_Eye_Gon_Texture', 'GonorrhoeaModelWoman__MA_Pain_in_the_tummy')">Symptom 3</div>
            <div class="ButtonStylingSTI " id="symptom4GonWoman" onclick="symptomzoom4('symptomAreaFemaleGonThroat', 'GonorrhoeaModelWoman__MA_Female_skin', 'GonorrhoeaModelWoman__MA_Throat_Gon', 'GonorrhoeaModelWoman__MA_Pain_in_the_tummy')">Symptom 4</div>
            <div class="ButtonStylingSTI " id="symptom5GonWoman" onclick="symptomzoom5('symptomAreaFemaleGon', 'GonorrhoeaModelWoman__MA_Female_skin', 'GonorrhoeaModelWoman__MA_Pain_in_the_tummy')">Symptom 5</div>
            <div class="ButtonStylingSTI " id="symptom6GonWoman" onclick="symptomzoom6('symptomAreaFemaleGon', 'GonorrhoeaModelWoman__MA_Female_skin', 'GonorrhoeaModelWoman__MA_Blood_Gon', 'GonorrhoeaModelWoman__MA_Pain_in_the_tummy')">Symptom 6</div>

            <div class="ButtonStylingSTI" onclick="cameraChange('Reset')" >Reset</div>

            </div>
          </div>





      <div class="row STIsymptomInfoBoxMove">
        <div class="STIsymptomInfoBox" id="symptom1ChlInfo">
          <h1>Symptom 1</h1>
          <p>Pain and or a burning sensation when urinating </p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom2ChlInfo">
          <h1>Symptom 2</h1>
          <p>Vaginal discharge</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom3ChlInfo">
          <h1>Symptom 3</h1>
          <p>gonorrhoea can affect the eyes</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom4ChlInfo">
          <h1>Symptom 4</h1>
          <p>Throat</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom5ChlInfo">
          <h1>Symptom 5</h1>
          <p>Tummy Pain</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom6ChlInfo">
          <h1>Symptom 6</h1>
          <p>Blood</p>
        </div>

      </div>

      </div>

    <div class="ColBot">
      <div class="ButtonStylingSTI STISmallHeading">Treatment</div>
      <div class="treatmentInfo">
        CHANGE ME
      </div>

    </div>
    </div>
</div></div>






<div class="ChoiceholdBackSTI">

</div>

<script type="text/javascript">

      function ResetCamera(cameraReset) {
        document.getElementById(cameraReset).setAttribute('set_bind','true');
        document.getElementById('ChlamydiaModelWoman__MA_Material_001').setAttribute('transparency', '1.0');
      }

      function symptomzoom1(symptoms, texture1, texture2, texture3, texture4) {
      document.getElementById(symptoms).setAttribute('set_bind','true');
      document.getElementById(texture1).setAttribute('transparency', '0.7');
      document.getElementById(texture2).setAttribute('transparency', '0.0');
      document.getElementById(texture3).setAttribute('transparency', '0.0');
      document.getElementById(texture4).setAttribute('transparency', '1.0');


      document.getElementById('symptom1ChlInfo').style.height = '400px';
      document.getElementById('symptom1ChlInfo').style.opacity = '1.0';
      $( "#symptom2Chl" ).addClass( "disableItemSelect" );
      $( "#symptom3Chl" ).addClass( "disableItemSelect" );
      $( "#symptom4Chl" ).addClass( "disableItemSelect" );
      $( "#symptom5Chl" ).addClass( "disableItemSelect" );
      $( "#symptom6Chl" ).addClass( "disableItemSelect" );
      }

      function symptomzoom2(symptoms, texture1, texture2, texture3, texture4, texture5) {

      document.getElementById(symptoms).setAttribute('set_bind','true');
      document.getElementById(texture1).setAttribute('transparency', '0.7');
      document.getElementById(texture2).setAttribute('transparency', '0.0');
      document.getElementById(texture3).setAttribute('transparency', '0.0');
      document.getElementById(texture4).setAttribute('transparency', '0.0');
      document.getElementById(texture5).setAttribute('transparency', '1.0');

      document.getElementById('symptom2ChlInfo').style.height = '400px';
      document.getElementById('symptom2ChlInfo').style.opacity = '1.0';
      $( "#symptom1Chl" ).addClass( "disableItemSelect" );
      $( "#symptom3Chl" ).addClass( "disableItemSelect" );
      $( "#symptom4Chl" ).addClass( "disableItemSelect" );
      $( "#symptom5Chl" ).addClass( "disableItemSelect" );
      $( "#symptom6Chl" ).addClass( "disableItemSelect" );
      }

      function symptomzoom3 (symptoms, texture1, texture2, texture3){
        document.getElementById(symptoms).setAttribute('set_bind','true');
        document.getElementById(texture1).setAttribute('transparency', '0.7');
        document.getElementById(texture2).setAttribute('transparency', '0.0');
        document.getElementById(texture3).setAttribute('transparency', '1.0');

        document.getElementById('symptom3ChlInfo').style.height = '400px';
        document.getElementById('symptom3ChlInfo').style.opacity = '1.0';
        $( "#symptom2Chl" ).addClass( "disableItemSelect" );
        $( "#symptom1Chl" ).addClass( "disableItemSelect" );
        $( "#symptom4Chl" ).addClass( "disableItemSelect" );
        $( "#symptom5Chl" ).addClass( "disableItemSelect" );
        $( "#symptom6Chl" ).addClass( "disableItemSelect" );
      }

      function symptomzoom4 (symptoms, texture1, texture2, texture3){
        document.getElementById(symptoms).setAttribute('set_bind','true');
        document.getElementById(texture1).setAttribute('transparency', '0.7');
        document.getElementById(texture2).setAttribute('transparency', '0.0');
        document.getElementById(texture3).setAttribute('transparency', '1.0');


        document.getElementById('symptom4ChlInfo').style.height = '400px';
        document.getElementById('symptom4ChlInfo').style.opacity = '1.0';
        $( "#symptom3Chl" ).addClass( "disableItemSelect" );
        $( "#symptom2Chl" ).addClass( "disableItemSelect" );
        $( "#symptom1Chl" ).addClass( "disableItemSelect" );
        $( "#symptom5Chl" ).addClass( "disableItemSelect" );
        $( "#symptom6Chl" ).addClass( "disableItemSelect" );
      }

      function symptomzoom5 (symptoms, texture1, texture2){
        document.getElementById(symptoms).setAttribute('set_bind','true');
        document.getElementById(texture1).setAttribute('transparency', '0.7');
        document.getElementById(texture2).setAttribute('transparency', '0.0');


        document.getElementById('symptom5ChlInfo').style.height = '400px';
        document.getElementById('symptom5ChlInfo').style.opacity = '1.0';
        $( "#symptom4Chl" ).addClass( "disableItemSelect" );
        $( "#symptom3Chl" ).addClass( "disableItemSelect" );
        $( "#symptom2Chl" ).addClass( "disableItemSelect" );
        $( "#symptom1Chl" ).addClass( "disableItemSelect" );
        $( "#symptom6Chl" ).addClass( "disableItemSelect" );
      }

      function symptomzoom6 (symptoms, texture1, texture2, texture3){
        document.getElementById(symptoms).setAttribute('set_bind','true');
        document.getElementById(texture1).setAttribute('transparency', '0.7');
        document.getElementById(texture2).setAttribute('transparency', '0.0');
        document.getElementById(texture3).setAttribute('transparency', '1.0');

        document.getElementById('symptom6ChlInfo').style.height = '400px';
        document.getElementById('symptom6ChlInfo').style.opacity = '1.0';
        $( "#symptom4Chl" ).addClass( "disableItemSelect" );
        $( "#symptom3Chl" ).addClass( "disableItemSelect" );
        $( "#symptom2Chl" ).addClass( "disableItemSelect" );
        $( "#symptom1Chl" ).addClass( "disableItemSelect" );
        $( "#symptom5Chl" ).addClass( "disableItemSelect" );
      }

      function cameraChange(Camera) {
      document.getElementById(Camera).setAttribute('set_bind','true');
      document.getElementById('GonorrhoeaModelWoman__MA_Female_skin').setAttribute('transparency', '0.0');
      document.getElementById('GonorrhoeaModelWoman__MA_Pee_Gon').setAttribute('transparency', '1.0');
      document.getElementById('GonorrhoeaModelWoman__MA_Pain_gon').setAttribute('transparency', '1.0');
      document.getElementById('GonorrhoeaModelWoman__MA_Discharge_gon1').setAttribute('transparency', '1.0');

      document.getElementById('GonorrhoeaModelWoman__MA_Discharge_gon2').setAttribute('transparency', '1.0');
      document.getElementById('GonorrhoeaModelWoman__MA_Discharge_gon3').setAttribute('transparency', '1.0');
      document.getElementById('GonorrhoeaModelWoman__MA_Eye_Gon_Texture').setAttribute('transparency', '1.0');
      document.getElementById('GonorrhoeaModelWoman__MA_Throat_Gon').setAttribute('transparency', '1.0');
      document.getElementById('GonorrhoeaModelWoman__MA_Pain_in_the_tummy').setAttribute('transparency', '1.0');
      document.getElementById('GonorrhoeaModelWoman__MA_Blood_Gon').setAttribute('transparency', '1.0');














      $( "#symptom1Chl" ).removeClass( "disableItemSelect" );
      $( "#symptom2Chl" ).removeClass( "disableItemSelect" );
      $( "#symptom3Chl" ).removeClass( "disableItemSelect" );
      $( "#symptom4Chl" ).removeClass( "disableItemSelect" );
      $( "#symptom5Chl" ).removeClass( "disableItemSelect" );
      document.getElementById('symptom1ChlInfo').style.height = '60px';
      document.getElementById('symptom2ChlInfo').style.height = '60px';
      document.getElementById('symptom3ChlInfo').style.height = '60px';
      document.getElementById('symptom4ChlInfo').style.height = '60px';
      document.getElementById('symptom5ChlInfo').style.height = '60px';
      document.getElementById('symptom1ChlInfo').style.opacity = '0.0';
      document.getElementById('symptom2ChlInfo').style.opacity = '0.0';
      document.getElementById('symptom3ChlInfo').style.opacity = '0.0';
      document.getElementById('symptom4ChlInfo').style.opacity = '0.0';
      document.getElementById('symptom5ChlInfo').style.opacity = '0.0';
      }

      //function ChlamydiaName(){
      //document.getElementById('ChlamydiaModelWoman__MA_typeBlinn1').setAttribute('diffuseColor', '0 5 0');
      //document.getElementById('ChlamydiaModelWoman__MA_typeBlinn1').setAttribute('transparency', '0.0');
      //}
      function symptom1(){
      document.getElementById('ChlamydiaModelWoman__MA_Pain_when').setAttribute('transparency', '0.0');
      document.getElementById('ChlamydiaModelWoman__MA_Pain_when').setAttribute('diffuseColor', '1.000 1.000 1.000');
      document.getElementById('ChlamydiaModelWoman__MA_Red').setAttribute('diffuseColor', '1.000 0.000 0.022');
      }

      </script>

</template>
