<template name="hello">
  <p>Template 2</p>

  <select id="days"></select>
  <select id="months"></select>
  <select id="years"></select>
  <button>Click Me</button>
  <p>You are {{counter}}.</p>

  {{#if _between counter 18 30}}
      <p>You are over 18 and younger then 30</p>
  {{/if}}
  {{#if _between counter 30 55}}
      <p>You are over 30 and younger then 55</p>
  {{/if}}
  {{#if _greaterThan counter 55}}
      <p>You are over 55</p>
  {{/if}}

  <x3d width='500px' height='400px' showStat="true">
    <scene>
        <viewpoint position="-1.94639 1.79771 -2.89271" orientation="0.03886 0.99185 0.12133 3.75685"></viewpoint>
            <Inline  nameSpaceName="Ball" mapDEFToID="true"
            url="/../X3D/Test6_Head.x3d"  ></Inline>
    </scene>
</x3d>

</template>
