<template name="hello">
  <p>Template 2</p>

  <select id="days"></select>
  <select id="months"></select>
  <select id="years"></select>
  <button>Click Me</button>
  <p>You are {{counter}}.</p>

  {{#if _between counter 18 30}}
      <p>You are over 18 and younger then 30</p>
  {{/if}}
  {{#if _between counter 30 55}}
      <p>You are over 30 and younger then 55</p>
  {{/if}}
  {{#if _greaterThan counter 55}}
      <p>You are over 55</p>
  {{/if}}

  <x3d width='400px' height='600px' showStat="true" >
    <scene>    <!-- -0.93 -0.36 -0.01 0.00 -->
        <viewpoint  position="-0.02427 0.95329 -2.79608"  orientation='-0.01451 1.0 0.00319 3.15833'></viewpoint>
        <Viewpoint id="front" position="-0.07427 0.95329 -2.79608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera"></Viewpoint>
        <Viewpoint id="right" position="-2.43383 1.07351 -1.28700" orientation="-0.00318 -0.99950 -0.03159 2.06609" description="camera"></Viewpoint>

            <Transform><inline  nameSpaceName="ChlamydiaModel" mapDEFToID="true" url="./Chlamydia_Test01.x3d"  ></inline></Transform>
    </scene>
</x3d>
<button onclick="document.getElementById('ChlamydiaModel__MA_typeBlinn1').setAttribute('diffuseColor', '0 5 0');">Right</button>
<button onclick="document.getElementById('front').setAttribute('set_bind','true');">front </button>

<script type="text/javascript">

function ChlamydiaClick() {
  console.log("clickmedone");

console.log(document.getElementById('clickmedone').innerHMTL);
  document.getElementById('clickmedone').innerHMTL = 'You are looking at the symptoms for Chlamydia';



//document.getElementById('clickmedone').childNodes[0].text;

  console.log(document.getElementById('clickmedone').innerHMTL);
}





</script>



</template>
