<template name="hello">
  <p>Template 2</p>

  <select id="days"></select>
  <select id="months"></select>
  <select id="years"></select>
  <button>Click Me</button>
  <p>You are {{counter}}.</p>

  {{#if _between counter 18 30}}
      <p>You are over 18 and younger then 30</p>
  {{/if}}
  {{#if _between counter 30 55}}
      <p>You are over 30 and younger then 55</p>
  {{/if}}
  {{#if _greaterThan counter 55}}
      <p>You are over 55</p>
  {{/if}}

  <x3d width='500px' height='400px' showStat="true">
    <scene>
        <viewpoint position="0 1.5 -1.89271" orientation="0 0.99185 0.12133 3"></viewpoint>
            <inline  nameSpaceName="Ball" mapDEFToID="true"
            url="./Man.x3d"  ></inline>
    </scene>
  </x3d>

</template>
