<template name="HelpGuide">


<div class=" compatabilityStyling helpMain HelpHide">
<div class="HelpHolder container-fluid">

<div class="row helpTitle">
  <div class="col">
    <h1>Help  </h1>
    </div>
    <div  class="col">
    <div id="CloseHelp">
      X
    </div>
    </div>
</div>
<div class="row HelpRow">


  <div class="col helpHoldBack" id="ThreeDHelp"> 3D Help</div>
  <div class="col helpHoldBack" id="SearchHelp"> Search Help</div>
  <div class="col helpHoldBack" id="Content"> Content</div>
  <div class="col helpHoldBack" id="AI"> AI</div>
  <!-- <div class="col helpHoldBack"></div> -->
</div>
<div class="row HelpRowContent">
  <!-- 3D Help -->
  <div class="col helpHoldInfo ThreeDHelp helpShow">
    <div class="HelpTitleObject">
      <h1>Search</h1>
    </div>
<div class="row">

  <div class="col">

    <img src="./Help/SearchHelp.png" alt='searchIMG' class="SearchImageHeight HelpMobile "/>
  </div>
<div class="col HelpInfo">
With Salus, most of the content 
    </div>
</div>
<div class="row">
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>
  </div>


      <!-- Help Start -->
      <div class="col helpHoldInfo HelpHelp ">
          <div class="HelpTitleObject">
            <h1 class="HelpHelp"> Help</h1>
          </div>
      <div class="row">

        <!-- <div class="col">

          <img src="./Help/SearchHelp.png" alt='searchIMG' class="SearchImageHeight HelpMobile "/>
        </div> -->
    <div class="col HelpInfoStart">
      If you need help please select one of the options above, depending on the help you need. Alternativly you can use our chatbot
      to ask for advice.
<br><br>
You can also contact Salus using our <a href="./ContactSalus">Contact Us</a> page.
          </div>
      </div>


      </div>

      <!-- Search Help -->
      <div class="col helpHoldInfo SearchHelp helpShow">
          <div class="HelpTitleObject">
            <h1>Search</h1>
          </div>
      <div class="row">

        <div class="col">

          <img src="./Help/SearchHelp.png" alt='searchIMG' class="SearchImageHeight HelpMobile "/>
        </div>
    <div class="col HelpInfo">
      To search for content one of the three options can be selected based on what your gender is, Male, Female or Other.
      Other will show users all of the avaliable content.
          </div>
      </div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
      </div>

      </div>

<!-- Content Help -->
  <div class="col helpHoldInfo Content helpShow">
    <div class="HelpTitleObject">
    <h1>Content</h1>
  </div>
    <div class="row">

      <div class="col">

        <img src="./Help/Banana_CherryM.png" alt='searchIMG' class="SearchImageHeight  ContentHelp"/>
        <img src="./Help/GrapefruitF.png" alt='searchIMG' class="SearchImageHeight  ContentHelp"/>
      </div>
    <div class="col HelpInfo">
    To search for content one of the three options can be selected based on what your gender is, Male, Female or Other.
    Other will show users all of the avaliabel content.
        </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
      <div class="col">

      </div>  </div>  </div>

      <!-- AI Help -->
        <div class="col helpHoldInfo AI helpShow">
          <div class="HelpTitleObject">
          <h1>Chat Bot</h1>
        </div>
          <div class="row">

            <div class="col">

              <img src="./Help/AI_Help_Page.png" alt='searchIMG' class="SearchImageHeight HelpMobile"/>
            </div>
          <div class="col HelpInfo">
          Our Salus chatbot is aimed at providing you with an alternative method in which to search for content. To get started with the chatbot, simply press the "Need advice?/How can we help?" button
          which is located in the bottom right hand corner if you are on desktop, or the bottom of the screen if you are on mobile. Once loaded you will be greated with the start up message stating what the chatbot can do.
          <br><br>
          Once the chatbot is open, you can simply state an item you are looking for such as "Chlamydia" or enter a phrase, such as "can you help me with itching". <br> Our chatbot will do it&#39;s best to find the content or service you need.
              </div>
          </div>
          <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>  </div>  </div>



</div>
</div>

</div>

<script>




</script>

</template>
