<template name="HelpGuide">


<div class="row compatabilityStyling helpMain HelpHide">
<div class="HelpHolder container-fluid">

<div class="row helpTitle">
  <div class="col">
    <h1>Help  </h1>
    </div>
    <div  class="col">
    <div id="CloseHelp">
      X
    </div>
    </div>
</div>
<div class="row HelpRow">


  <div class="col helpHoldBack" id="ThreeDHelp"> 3D Help</div>
  <div class="col helpHoldBack" id="SearchHelp"> Search Help</div>
  <div class="col helpHoldBack" id="Content"> Content</div>
  <!-- <div class="col helpHoldBack"></div> -->
</div>
<div class="row">
  <div class="col helpHoldInfo ThreeDHelp helpShow"> 3D Help</div>

      <div class="col helpHoldInfo SearchHelp helpShow">
      <div class="row">
        <div class="col">
          <img src="./Help/SearchHelp.png" alt='searchIMG' class="SearchImageHeight"/>
        </div>
    <div class="col">
      To search for content one of the three options can be selected based on what your gender is, Male, Female or Other.
      Other will show users all of the avaliabel content.
          </div>
      </div>
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col">

        </div>
      </div>

      </div>

  <div class="col helpHoldInfo Content helpShow"> Content</div>
</div>
</div>

</div>

<script>




</script>

</template>
