<template name="HelpGuide">


<div class=" compatabilityStyling helpMain HelpHide">
<div class="HelpHolder container-fluid">

<div class="row helpTitle">
  <div class="col">
    <h1>Help  </h1>
    </div>
    <div  class="col">
    <button id="CloseHelp">
      X
    </button>
    </div>
</div>
<div class="row HelpRow">


  <div class="col helpHoldBack" id="ThreeDHelp"> 3D Help</div>
  <div class="col helpHoldBack" id="SearchHelp"> Search Help</div>
  <div class="col helpHoldBack" id="Content"> Content</div>
  <div class="col helpHoldBack" id="AI"> Chat Bot</div>
  <!-- <div class="col helpHoldBack"></div> -->
</div>
<div class="row HelpRowContent">
  <!-- 3D Help -->
  <div class="col helpHoldInfo ThreeDHelp helpShow">
    <div class="HelpTitleObject">
      <h1>3D Help</h1>
    </div>
<div class="row">

  <div class="col">

    <img src="./Help/3DHelp.png" alt='searchIMG' class="SearchImageHeight3DAI HelpMobile "/>
    <img src="./Help/3DhelpSide.png" alt='searchIMG' class="SearchImageHeight3DAI HelpMobile "/>

  </div>

<div class="col HelpInfo">
  <p>
  While using Salus you may have come across some of our 3D content. This content is intended to enhance your experience with Salus by providing you with a visual manner in which to view content.<br>
  To control the 3D content, you can either use the buttons provided (Symptom 1, Symptom 2, etc) or you can manually manipulate the 3D content using your mouse and keyboard or fingers if you are on mobile.
</p>
   <br><br>
  <h1>Desktop  </h1>
  <p>
  To rotate the model, you can click the left button and drag across the model in the direction you desire.
  To zoom in on the model, you can scroll on the model or hold Alt and hold left click, and move the mouse forward and back.
</p>
<br>
  <h1>Mobile  </h1>
  <p>
To rotate the model on mobile you can swipe one finger across the model.
To move the model you can hold two fingers on the model and drag your fingers.
To zoom in or out on the model you can pinch your fingers to zoom out or pull your fingers out to zoom in.

  </p>

    </div>
</div>
<div class="row">
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>
  </div>


      <!-- Help Start -->
      <div class="col helpHoldInfo HelpHelp ">
          <div class="HelpTitleObject">
            <h1 class="HelpHelp"> Help</h1>
          </div>
      <div class="row">

        <!-- <div class="col">

          <img src="./Help/SearchHelp.png" alt='searchIMG' class="SearchImageHeight HelpMobile "/>
        </div> -->
    <div class="col HelpInfoStart">
      <p>
      If you need help please select one of the options above, depending on the help you need. Alternatively, you can use our chatbot
      to ask for advice.</p>
<br><br>
      <p>You can also contact Salus using our <a href="./ContactSalus">Contact Us</a> page.</p>
          </div>
      </div>


      </div>

      <!-- Search Help -->
      <div class="col helpHoldInfo SearchHelp helpShow">
          <div class="HelpTitleObject">
            <h1>Search</h1>
          </div>
      <div class="row">

        <div class="col">

          <img src="./Help/SearchOptions.png" alt='searchIMG' class="SearchImageHeight HelpMobile "/>
        </div>
    <div class="col HelpInfo">
      <p>To search for content one of the three options can be selected these options include Male, Female or All options.</p>
      <br>
      <h1>Male</h1>
      <p>Selecting "Male" will bring up all options relating to the "Male" sex</p>
      <br>
      <h1>Female</h1>
      <p>Selecting "Female" will bring up all options relating to the "Female" sex</p>
      <br>
      <h1>All Options</h1>
      <p>Selecting "All options" will bring up every option for both sexes</p>
      <br><br>
      <h1>AI</h1>
      <p>As well as using our search page, you can search for content by using our AI, for information on the AI press  <button id="AIFromSearch" class="ButtonStylingSTI">here</button></p>
          </div>
      </div>


      </div>

<!-- Content Help -->
  <div class="col helpHoldInfo Content helpShow">
    <div class="HelpTitleObject">
    <h1>Content</h1>
  </div>
    <div class="row">

      <div class="col">

        <img src="./Help/Banana_CherryM.png" alt='searchIMG' class="SearchImageHeight  ContentHelp"/>
        <img src="./Help/GrapefruitF.png" alt='searchIMG' class="SearchImageHeight  ContentHelp"/>
        <img src="./Help/MoreInfo.png" alt='searchIMG' class="SearchImageHeight  ContentHelp"/>
      </div>


    <div class="col HelpInfo">
    <p>While using this site you will come across, fruit themed content. </p><br>
    <p>This is used to represent the male and female sexual organs respectively. You can use this content or choose to ignore it and view information in a text format.<br><br> The content can be ignored by clicking on the more info button (where available) and this will scroll the page to text content.</p>
        </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
      <div class="col">

      </div>  </div>  </div>

      <!-- AI Help -->
        <div class="col helpHoldInfo AI helpShow">
          <div class="HelpTitleObject">
          <h1>Chat Bot</h1>
        </div>
          <div class="row">

            <div class="col">

              <img src="./Help/AI_Help_Page.png" alt='searchIMG' class="SearchImageHeight3DAI HelpMobile"/>
            </div>
          <div class="col HelpInfo">
            Our Salus chatbot is aimed at providing you with an alternative method in which to search for content. To get started with the chatbot, simply press the "Need advice?/How can we help?" button
            which is located in the bottom right-hand corner if you are on a desktop, or the bottom of the screen if you are on mobile. Once loaded you will be greeted with a startup message, the message stating what the chatbot can do.
            <br><br>
            Once the chatbot is open, you can simply state an item you are looking for such as "Chlamydia" or enter a phrase, such as "can you help me with itching". <br> Our chatbot will do it&#39;s best to find the content or service you need.
                </div>
          </div>
          <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>  </div>  </div>



</div>
</div>

</div>

<script>




</script>

</template>
