<template name="HIVMale">

  <script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
  <div class="row compatabilityStyling">
  <div class="siteInformationSTIs row">
    <button class="MFOBackHomeHelp STIBackHomeHelp " id="ReturnHome">    <i class="fas fa-home"></i> </button>
    <button class="MFOBackHomeHelp STIBackHomeHelp " id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
    <button class="MFOBackHomeHelp MFOBackHomeHelpRightHelp STIBackHomeHelp " id="Help"> <i class="far fa-question-circle"></i> </button>
    <h1>HIV <i class="fas fa-mars"></i></h1>

  <!--<p>Sexual Health information and services</p> -->
  </div>
  <div class="STIMainHold row">

      <div class="col ">

        <div class="ReturnOptions">
          <div id="closeSTIMale">Close STI</div>
        </div>
        <div  class="x3d_scene">

          <x3d class="NormalWH MobileWH">
            <scene>
              <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
                  <viewpoint position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                  <viewpoint id="Reset" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                  <Viewpoint id="front" position="-0.07427 0.95329 -2.79608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera"></Viewpoint>
                  <Viewpoint id="right" position="-2.43383 1.07351 -1.28700" orientation="-0.00318 -0.99950 -0.03159 2.06609" description="camera"></Viewpoint>

                  <viewpoint id="SymptomUnmove" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>

                  <Viewpoint id="symptomAreaMaleHIV" position="-0.00427 0.85329 -0.69608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                  <Viewpoint id="symptomAreaMaleHIVFever" position="-0.00427 1.65329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                  <Viewpoint id="symptomAreaMaleHIVThroat" position="-0.00427 1.52329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                  <Viewpoint id="symptomAreaMaleHIVChest" position="-0.00427 1.45329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>


                <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                  <Transform><inline  nameSpaceName="MaleModelHIV" mapDEFToID="true" url="./STI_Models_Male/HIV_Man_01.x3d"  ></inline></Transform>
              </scene>
            </x3d>

      </div>
    </div>
      <div class=" col ">
        <div class="colArt">


<div class="ButtonStylingSTI STISmallHeading">HIV</div>
    <div class="ButtonStylingSTIHolder">
          <div class="row">


            <button class="ButtonStylingSTI " id="symptom1HIV" onclick="symptomzoom1('SymptomUnmove', 'MaleModelHIV__MA_Man_Skin_Texture', 'MaleModelHIV__MA_HIV_Glands')">Symptom 1</button>
            <button class="ButtonStylingSTI " id="symptom2HIV" onclick="symptomzoom2('symptomAreaMaleHIVFever', 'MaleModelHIV__MA_Man_Skin_Texture', 'MaleModelHIV__MA_fever_Texture')">Symptom 2</button>
            <button class="ButtonStylingSTI " id="symptom3HIV" onclick="symptomzoom3('symptomAreaMaleHIVThroat', 'MaleModelHIV__MA_Man_Skin_Texture', 'MaleModelHIV__MA_HIV_Throat_Texture')">Symptom 3</button>
            <button class="ButtonStylingSTI " id="symptom4HIV" onclick="symptomzoom4('symptomAreaMaleHIVChest', 'MaleModelHIV__MA_Man_Skin_Texture', 'MaleModelHIV__MA_HIV_body_Rash_Male')">Symptom 4</button>

            <button class="ToShowOnSmallSTI" onclick="cameraModelReset('Reset')" >Reset</button>
            <button class="ToShowOnSmallSTI  moreinfoStyling" id="moreinfo" >More Info</button>

            </div>
          </div>





      <div class="row STIsymptomInfoBoxMove">
        <div class="STIsymptomInfoBox" id="symptom1HIVInfo">
          <h1>Symptom 1</h1>
          <p>Swelling of the glands</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom2HIVInfo">
          <h1>Symptom 2</h1>
          <p>Flu-like sympotms such as a fever</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom3HIVInfo">
          <h1>Symptom 3</h1>
          <p>A sore throat</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom4HIVInfo">
          <h1>Symptom 4</h1>
          <p>A rash that can appear across the whole body</p>
        </div>


      </div>
      <div class="ResetAndMoreInfo ">
      <button class="ButtonStylingSTI ResetAndMoveInforStyling" onclick="cameraModelReset('Reset')" >Reset</button>
      <button class="ButtonStylingSTI ResetAndMoveInforStyling" id="moreinfo" >More Info <i class="far fa-arrow-alt-circle-down"></i></button>
      </div>
      </div>


    </div>
    <div class="ColBot">
      <div class="conditionInfo">

      </div>
    </div>
  </div>
  </div>

<script type="text/javascript">


      function symptomzoom1(symptoms, texture1, texture2) {
        HIVResetM();

      document.getElementById(symptoms).setAttribute('set_bind','true');
      document.getElementById(texture1).setAttribute('transparency', '0.7');
      document.getElementById(texture2).setAttribute('transparency', '0.0');

      document.getElementById('symptom1HIVInfo').style.opacity = '1.0';
      }

      function symptomzoom2(symptoms, texture1, texture2) {
      HIVResetM();

      document.getElementById(symptoms).setAttribute('set_bind','true');
      document.getElementById(texture1).setAttribute('transparency', '0.7');
      document.getElementById(texture2).setAttribute('transparency', '0.0');


      document.getElementById('symptom2HIVInfo').style.opacity = '1.0';

      }

      function symptomzoom3 (symptoms, texture1, texture2){
        HIVResetM();

        document.getElementById(symptoms).setAttribute('set_bind','true');
        document.getElementById(texture1).setAttribute('transparency', '0.7');
        document.getElementById(texture2).setAttribute('transparency', '0.0');


        document.getElementById('symptom3HIVInfo').style.opacity = '1.0';
      }

      function symptomzoom4 (symptoms, texture1, texture2){
        HIVResetM();
        document.getElementById(symptoms).setAttribute('set_bind','true');
        document.getElementById(texture1).setAttribute('transparency', '0.5');
        document.getElementById(texture2).setAttribute('transparency', '0.0');


        document.getElementById('symptom4HIVInfo').style.opacity = '1.0';

      }





      function cameraModelReset(Camera) {
      document.getElementById(Camera).setAttribute('set_bind','true');
      HIVResetM();

      }

      function HIVResetM() {
        document.getElementById('MaleModelHIV__MA_Man_Skin_Texture').setAttribute('transparency', '0.0');
        document.getElementById('MaleModelHIV__MA_HIV_Glands').setAttribute('transparency', '1.0');
        document.getElementById('MaleModelHIV__MA_fever_Texture').setAttribute('transparency', '1.0');
        document.getElementById('MaleModelHIV__MA_HIV_Throat_Texture').setAttribute('transparency', '1.0');
        document.getElementById('MaleModelHIV__MA_HIV_body_Rash_Male').setAttribute('transparency', '1.0');


        document.getElementById('symptom1HIVInfo').style.opacity = '0.0';
        document.getElementById('symptom2HIVInfo').style.opacity = '0.0';
        document.getElementById('symptom3HIVInfo').style.opacity = '0.0';
        document.getElementById('symptom4HIVInfo').style.opacity = '0.0';
      }

      </script>

</template>
