<template name="maleOptions">

<div class="row compatabilityStyling">

<div class="OptionsHolder">



<div class="AvaliableOptions" >
<div id="maleOptionsSelected">

    <div class="MaleFemaleOtherBackHomeHelp">
    <button class="MFOBackHomeHelp STIBackHomeHelp " id="ReturnHome">    <i class="fas fa-home"></i> </button>
    <button class="MFOBackHomeHelp STIBackHomeHelp " id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
    <button class="MFOBackHomeHelp MFOBackHomeHelpRightHelp STIBackHomeHelp " id="Help">          <i class="far fa-question-circle"></i> </button></div>
    <div class="MFOStylingH1"><h1>Male <i class="fas fa-mars"></i></h1> </div>

</div>
<button class="CloseFilter">Filter</button>
<div class="FilterOptionsAvaliable FilterOptionsShow">

  <button id="All_Show" class="btn holdbtn">All Options</button>
  <button id="STIStyling" class="btn holdbtn">STI</button>
  <button id="MythStyling" class="btn holdbtn">Myths</button>
  <button id="hygiene" class="btn holdbtn">hygiene</button>
  <button id="Contraception" class="btn holdbtn">Contraception</button>

</div>
<div class="row whiteB" id="parent">

  <button class="col-5 itemOpt STIStyling All_Show" id="MaleChlamydiaOPTI"  >
       Chlamydia
      <p><!--Male-->  <i class="fas fa-mars"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id='MaleGenitalWartsOPTI'>
      Genital Warts
      <p><!--Male-->  <i class="fas fa-mars"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="MaleGenitalHerpesOPTI"  >
      Genital Herpes
      <p><!--Male-->  <i class="fas fa-mars"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="MaleGonorrhoeaOPTI"  >
      Gonorrhoea
      <p><!--Male-->  <i class="fas fa-mars"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="MaleSyphilisOPTI"  >
     Syphilis
     <p><!--Male-->  <i class="fas fa-mars"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="MalePubicLiceOPTI"  >
      Pubic Lice
      <p><!--Male-->  <i class="fas fa-mars"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="MaleScabiesOPTI"  >
      Scabies
      <p><!--Male-->  <i class="fas fa-mars"></i></p>
  </button>

  <button class="col-5 itemOpt STIStyling All_Show" id="MaleHIVOPTI"  >
      HIV
      <p><!--Male-->  <i class="fas fa-mars"></i></p>
  </button>

  <button class="col-5 itemOpt MythStyling All_Show" id="MythsOPTI"  >
      Sexual Myths
  </button>

  <button class="col-5 itemOpt hygiene All_Show" id="DoucheOPTI" >
      Anal Douche
  </button>

<button class="col-5 itemOpt Contraception All_Show" id="CondomOPTI" >
      Condom
  </button>






</div>

</div>
</div>
</div>









<script >



  var $btns = $('.btn').click(function() {
    if (this.id == 'all') {
      $('#parent > button').fadeIn(450);
    } else {
      var $el = $('.' + this.id).fadeIn(450);
      $('#parent > button').not($el).hide();
    }
    $btns.removeClass('active');
    $(this).addClass('active');
  })

$('.holdbtn').click(function() {

  $('.itemOpt').sort(function(a, b) {
    if (a.textContent < b.textContent) {
      return -1;
    } else {
      return 1;
    }
  }).appendTo('#parent');
})
</script>





</template>
