<template name="maleOptions">



<div id="OptionsHolder">

<div class="row">


<div id="ReselectChoices" class="col-2">
<img src="./Logo/Logo_Normal.png"  alt="Logo"/>


</div>
<div id="AvaliableOptions" class="col">
<div class="row">

  <div class="col-3 itemOpt" id="MaleChlamydiaOPTI">
    <p>
      Male Chlamydia
    </p>
  </div>

  <button class="col-3 itemOpt" onclick=" alert('Hello! I am an alert box!!'); "><div class="col-3 itemOpt" id="MaleGenitalWartsOPTI">
    <p>
      Male Genital Warts
    </p>
  </div></button>

  <div class="col-3 itemOpt" id="MaleGenitalHerpesOPTI">
    <p>
      Male Genital Herpes
    </p>
  </div>

  <div class="col-3 itemOpt" id="MaleGonorrhoeaOPTI">
    <p>
      Male Gonorrhoea
    </p>
  </div>

  <div class="col-3 itemOpt" id="MaleSyphilisOPTI">
    <p>
      Male Syphilis
    </p>
  </div>
  <div class="col-3 itemOpt" id="MalePubicLiceOPTI">
    <p>
      Male Pubic Lice
    </p>
  </div>
  <div class="col-3 itemOpt" id="ScabiesOPTI">
    <p>
      Male Scabies
    </p>
  </div>
  <div class="col-3 itemOpt">

    Test

  </div>

</div>

</div>
</div>



<div class="ChoiceholdBackOPI">

</div>
</div>










</template>
