<template name="maleOptions">



<div class="OptionsHolder">

<div class="row">


<!-- <div id="ReselectChoices" class="col-2">
<img src="./Logo/Logo_Normal.png"  alt="Logo"/>


</div> -->
<div class="AvaliableOptions" >
<div id="maleOptionsSelected">
  <h1>Salus - Male</h1>
</div>
<div class="row whiteB" >

  <button class="col-5 itemOpt STIStyling" id="MaleChlamydiaOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Male Chlamydia
      <p>Male</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id='MaleGenitalWartsOPTI' onclick=" alert('Hello! I am an alert box!!'); ">
      Genital Warts
      <p>Male</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="MaleGenitalHerpesOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Genital Herpes
      <p>Male</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="MaleGonorrhoeaOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Gonorrhoea
      <p>Male</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="MaleSyphilisOPTI" onclick=" alert('Hello! I am an alert box!!');" >
     Syphilis
     <p>Male</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="MalePubicLiceOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Pubic Lice
      <p>Male</p>
  </button>

  <button class="col-5 itemOpt STIStyling" id="ScabiesOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Scabies
      <p>Male</p>
  </button>

  <button class="col-5 itemOpt MythStyling" id="MythsOPTI" onclick=" alert('Hello! I am an alert box!!');" >
      Sexual Myths
  </button>







</div>

</div>
</div>



<div class="ChoiceholdBackOPI">

</div>
</div>










</template>
