<template name='MenuMain'>

  <section id="page-slide">
  <button id="toggle">
      <i class="fas fa-bars"></i>
    </button>
    <nav class="MenuOverride" role='navigation'>
      <a href="./choice" ><img src="./Logo/logoOnDark.svg" alt="logo" class="MenuLogo CloseHelpMenuAlt" /></a>
      <ul>
        <li class="HomeBackHelpMenuStyling">  <button class="MenuBackHomeHelp" id="ReturnHome">    <i class="fas fa-home"></i> </button>
          <button class="MenuBackHomeHelp" id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
          <button class="MenuBackHomeHelp" id="Help">          <i class="far fa-question-circle"></i> </button></li>
        <li class="CloseHelpMenuAlt"><a href="./AboutSalus">About Salus</a></li>
        <li class="CloseHelpMenuAlt"><a href="./Disclamer">Disclamer</a></li>
        <li class="CloseHelpMenuAlt" ><a href="./SearchSalus">Search for Content</a></li>
        <!-- <li id="HelpLink" >Help</li> -->
        <li class="CloseHelpMenuAlt" id="ContactUs"><a href="./ContactSalus">Contact Us</a></li>
        <li><div id="ChangeTextSize">
        Resize text |
        <a class="TextSize" id="Small">A</a>
        <a class="TextSize" id="Medium">A</a>
        <a class="TextSize" id="Large">A</a>
      </div></li>
        <li class="CloseHelpMenuAlt" ><a href="./SiteMap">Site Map</a></li>
      </ul>

      <div id="MenuFooter">
        <p>© Salus 2018</p>
      </div>
    </nav>

  </section>
<script >

$(".TextSize").click(function(){

       if (this.id == 'Small') {
         $("h1").addClass( "Small" );
         $("h1").removeClass( "Medium" );
         $("h1").removeClass( "Large" );

          $("p").addClass( "Small" );
          $("p").removeClass( "Medium" );
          $("p").removeClass( "Large" );
         }

       if (this.id == 'Medium') {
         $("h1").addClass( "Medium" );
         $("h1").removeClass( "Small" );
         $("h1").removeClass( "Large" );

          $("p").addClass( "Medium" );
          $("p").removeClass( "Small" );
          $("p").removeClass( "Large" );
         }

       if (this.id == 'Large') {
         $("h1").addClass( "Large" );
         $("h1").removeClass( "Small" );
         $("h1").removeClass( "Medium" );

          $("p").addClass( "Large" );
          $("p").removeClass( "Small" );
          $("p").removeClass( "Medium" );
         }

   });

</script>
</template>
