<template name='MenuMain'>






  <section id="page-slide">
    <!-- <button id="toggle">
      <i class="fas fa-bars"></i>
    </button> -->
    <nav class="MenuOverride" role='navigation'>
      <a href="./choice" ><img src="./Logo/LogoOnWhiteNewColour.svg" alt="logo" class="MenuLogo" /></a>
      <ul>
        <li><a href="./AboutSalus">About Salus</a></li>
        <li><a href="./SearchSalus">Select content to display</a></li>
        <li><a href="">Holder</a></li>
        <li><a href="" id="cars">ay yo</a></li>
      </ul>
      <div id="MenuFooter">
        <p>© Salus 2018</p>
      </div>
    </nav>

  </section>

</template>
