<template name="OptionsSelected">



<div id="OptionsHolder">

<div class="row">


<div id="ReselectChoices" class="col-2">
<img src="./Logo/Logo_Normal.png"  alt="Logo"/>


</div>


<div id="AvaliableOptions" class="col">
<div class="row">

{{#if _equals GenderSel Man}}


  <div class="col-3 itemOpt" id="MaleChlamydiaOPTI">
<p>
  {{cars}}
  hi
</p>
    Male Chlamydia


  </div>
  {{/if}}

  {{#if _equals GenderSel 'Woman'}}
  <div class="col-3 itemOpt" id="FemalChlamydiaOPTI">
    <p>
      {{cars}}

    </p>
    Female Chlamydia

  </div>
  {{/if}}

  <div class="col-3 itemOpt">

    Test

  </div>

</div>

</div>
</div>



<div class="ChoiceholdBackOPI">

</div>
</div>










</template>
