<template name="OptionsSelected">



<div id="OptionsHolder">

<div class="row">


<div id="ReselectChoices" class="col-2">
<img src="./Logo/Logo_Normal.png"  alt="Logo"/>


</div>


<div id="AvaliableOptions" class="col">
<div class="row">

{{#if _equals Gender Man}}

  <div class="col-3 itemOpt" id="MaleChlamydiaOPTI">
<p>
  {{counter}}
</p>
    Male Chlamydia

  </div>
  {{/if}}

  {{#if _equals Gender Woman}}
  <div class="col-3 itemOpt" id="FemalChlamydiaOPTI">
    <p>
      {{counter}}

    </p>
    Female Chlamydia

  </div>
  {{/if}}
  {{#if _equals Gender OtherGender}}
  <div class="col-3 itemOpt">

    Test

  </div>
  {{/if}}
</div>

</div>
</div>



<div class="ChoiceholdBackOPI">

</div>
</div>










</template>
