<template name="RectalDouche">

  <script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
<div class="row compatabilityStyling">
  <div class="siteInformationSTIs row">
    <button class="STIBackHomeHelp" id="ReturnHome">    <i class="fas fa-home"></i> </button>
    <button class="STIBackHomeHelp" id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
    <button class="STIBackHomeHelp" id="Help">          <i class="far fa-question-circle"></i> </button>
    <h1>Rectal Douche</h1>

  <!--<p>Sexual Health information and services</p> -->
  </div>
  <div class="HygieneHold row">

      <div class="x3d_sceneHygine_Margin col ">

        <div class="ReturnOptions">
          <div class="closeHygine">Return</div>
        </div>
        <div  class="x3d_sceneHygine">


          <x3d class="NormalWHHyg MobileWH">
            <scene>
              <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
                  <viewpoint position="-0.2005 1.0000 -1.29608"  orientation='-0.000 1.0 0.00219 3.2' centerOfRotation="-0.2005 1.0000 -0.29608"></viewpoint>
                  <viewpoint id="Reset" position="-0.2005 1.0000 -1.29608" orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                  <Viewpoint id="front" position="-0.07427 0.95329 -2.79608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera"></Viewpoint>
                  <Viewpoint id="right" position="-2.43383 1.07351 -1.28700" orientation="-0.00318 -0.99950 -0.03159 2.06609" description="camera"></Viewpoint>

                  <viewpoint id="SymptomUnmove" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>

                  <Viewpoint id="symptomAreaFemaleHIV" position="-0.00427 0.85329 -0.69608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                  <Viewpoint id="symptomAreaFemaleHIVFever" position="-0.00427 1.65329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                  <Viewpoint id="symptomAreaFemaleHIVThroat" position="-0.00427 1.52329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                  <Viewpoint id="symptomAreaFemaleHIVChest" position="-0.00427 1.45329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>


                <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                  <Transform><inline  nameSpaceName="FemaleModelWoman" mapDEFToID="true" url="./Hygiene/Anal_Douche.x3d"  ></inline></Transform>
              </scene>
            </x3d>
            <button class="ButtonStylingHygine" onclick="cameraChange('Reset')" >Reset</button>
              <button class="ToShowOnSmallHy ButtonStylingHyExtra ResetAndMoveInforStylingHy" id="moreinfo" >More Info <i class="far fa-arrow-alt-circle-down"></i></button>
      </div>
      </div>

      <div class="col HygineInfoShift">
        <div class=" HygineSmallHeading">Rectal Douche</div>
            <div class="ButtonStylingHygineHolder">
        <div class="longer">

          <p>
            Rectal douching (also known as anal douching) is the act of rinsing the rectum with intent to clean it, typically in preparation for anal sex. An instance of this rinsing or a tool used to perform the rinse may be called a Rectal Douche.
          </p>
          </div>
        </div>

    </div>
</div>


</div>

<script type="text/javascript">

      function cameraChange(Camera) {
      document.getElementById(Camera).setAttribute('set_bind','true');


      }


      </script>

</template>
