<template name="SearchTemp">

<div class="SearchOptions" >
<div id="SearchTitle">

  <button class="MFOBackHomeHelp STIBackHomeHelp " id="ReturnHome">    <i class="fas fa-home"></i> </button>
  <button class="MFOBackHomeHelp STIBackHomeHelp " id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
  <button class="MFOBackHomeHelp MFOBackHomeHelpRightHelp STIBackHomeHelp " id="Help"> <i class="far fa-question-circle"></i> </button>
<h1 class="SearchStylingH1">Search Salus</h1>

</div>

<div class=" " id="SearchParent">

<div id="searchH">

<h1>For sexual health information relevant to your needs, please select one of the options below</h1></div>

<div class="row GenderHolders">



<div class="col">
  <div  class="CircleChoiceSize GenderBackColours">
    <div  class="OptionsHeaders">

      <h1>Female</h1>
    </div>
      <div class="col1Options">
        <p>
        <i class="fas fa-venus"></i>
        </p>
      </div>
      <div class="optionSelectorHolder">
        <input type="radio" name="GenderOption" id="WomanSelecter" value="Female" class="radioClasses">
      </div>
  </div>
      </div>

<div class="col">

        <div  class="CircleChoiceSize GenderBackColours">
          <div  class="OptionsHeaders">
            <h1>Male</h1>
          </div>
            <div class="col1Options">
            

            <p>
            <i class="fas fa-mars"></i>
            </p>
            </div>
            <div class="optionSelectorHolder">
            <input type="radio" name="GenderOption" id="ManSelecter" value="Male" class="radioClasses">
            </div>
        </div>
      </div><div class="col">
        <div  class="CircleChoiceSize GenderBackColours">
          <div  class="OptionsHeaders">

            <h1>All Options</h1>
          </div>
            <div class="col1Options">
              <p>
              <i class="fas fa-genderless"></i>
              </p>
            </div>
            <div class="optionSelectorHolder">
              <input type="radio" name="GenderOption" id="OtherSelecter" value="Other" class="radioClasses">
            </div>
        </div>
      </div>

      <div class="col">
        <div id="SelectOptionCol4" class="CircleChoiceSize proceed">
          <a href="" onclick="return false;"><i class="far fa-arrow-alt-circle-right fa-5x"></i></a>
        </div>

      </div>
</div></div></div>



</template>
