<template name="SiteMap">


<div class="compatabilityStyling">
<div class="DisclamerAvaliableOptions
disclaimerSelected
DisclamerStylingH1">

  <div class="SiteMapAvaliableOptions" >
  <div id="SiteMapSelected">
    <button class="MFOBackHomeHelp STIBackHomeHelp " id="ReturnHome">    <i class="fas fa-home"></i> </button>
    <button class="MFOBackHomeHelp STIBackHomeHelp " id="PreviousPage">  <i class="far fa-arrow-alt-circle-left"></i></button>
    <button class="MFOBackHomeHelp MFOBackHomeHelpRightHelp STIBackHomeHelp " id="Help"> <i class="far fa-question-circle"></i> </button>
  <h1 class="SiteMapStylingH1">Site Map</h1>
  </div>

<div class=" " id="SiteMapparent">

<h1 class="SiteMapHeadings" >Female STI's</h1>
<p>
<a href="./chlamydiaFemale">Chlamydia Female</a><br><br>
<a href="./genitalHerpesFemale">Genital Herpes Female</a><br><br>
<a href="./GenitalWartsFemale">Genital Warts Female</a><br><br>
<a href="./gonorrhoeaFemale">Gonorrhoea Female</a><br><br>
<a href="./pubicLiceFemale">Pubic Lice Female</a><br><br>
<a href="./scabiesFemale">Scabies Female</a><br><br>
<a href="./syphilisFemale">Syphilis Female</a><br><br>
<a href="./HIVFemale">HIV Female</a><br><br>

</p>

<h1 class="SiteMapHeadings">Male STI's</h1>
<p>
<a href="./ChlamydiaMale">Chlamydia Male</a><br><br>
<a href="./genitalHerpesMale">Genital Herpes Male</a><br><br>
<a href="./genitalWartsMale">Genital Warts Male</a><br><br>
<a href="./gonorrhoeaMale">Gonorrhoea Male</a><br><br>
<a href="./pubicLiceMale">Pubic Lice Male</a><br><br>
<a href="./scabiesMale">Scabies Male</a><br><br>
<a href="./syphilisMale">Syphilis Male</a><br><br>
<a href="./HIVMale">HIV Male</a><br><br>
</p>

<h1 class="SiteMapHeadings">Search</h1>
<p>

<a href="./choiceMale">Male Gender</a><br><br>
<a href="./choiceFemale">Female Gender</a><br><br>
<a href="./choiceOther">Other Gender</a><br><br>
</p>


<h1 class="SiteMapHeadings">Contraception</h1>
<p>
<a href="./Condoms">Condoms</a><br><br>
<a href="./Implant">Implant</a><br><br>
<a href="./CombinedPill">Combined Pill</a><br><br>
</p>

<h1 class="SiteMapHeadings">General</h1>
<p>
  <a href="./">Splash Page</a><br><br>
  <a href="./choice">Choice / HomePage</a><br><br>
  <a href="./AboutSalus">About Salus</a><br><br>
  <a href="./Disclamer">Disclamer</a><br><br>
  <a href="./SiteMap">SiteMap</a><br><br>
  <a href="./ContactSalus">Contact Salus</a><br><br>
  <a href="./SearchSalus">Search Salus</a><br><br>
  <a href="./Myths">Sexual Myths</a><br><br>

</p>

<h1 class="SiteMapHeadings">Hygiene</h1>
<p>
  <a href="./RectalDouche">Rectal Douche</a><br><br>
    <a href="./Tampon">Tampon</a><br><br>
</p>



</div>

</div>



</div>





</div>




</template>
