<template name="SyphilisMale">

<script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
  <div class="STIMainHoldSyph row">

      <div class="w-50 col ">

        <div class="ReturnOptions">
          <div id="closeSTIMaleSyph">Close STI</div>
        </div>
        <div  class="x3d_scene">

        <x3d width='400px' height='600px'>
          <scene>
            <Background metadata='X3DMetadataObject' skyColor='(1,1,1)' topUrl='[]' transparency='0.0' ></Background>
                <viewpoint position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <viewpoint id="ResetMANSyph" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <Viewpoint id="frontMANSyph" position="-0.07427 0.95329 -2.79608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera"></Viewpoint>
                <Viewpoint id="rightMANSyph" position="-2.43383 1.07351 -1.28700" orientation="-0.00318 -0.99950 -0.03159 2.06609" description="camera"></Viewpoint>

                <viewpoint id="symptomAreaMANSyphGlands" position="-0.02427 0.95329 -2.79608"  orientation='-0.000 1.0 0.00219 3.2'></viewpoint>
                <Viewpoint id="symptomAreaMANSyph" position="-0.00427 0.85329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
                <Viewpoint id="symptomAreaMANSyphMouth" position="-0.00427 1.65329 -0.49608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>

                <Viewpoint id="symptomAreaMANSyphHeadAche" position="-0.00427 1.75329 -0.69608" orientation="-0.01451 0.99989 0.00319 3.15833" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>

                <Viewpoint id="symptomAreaMANSyphFeet" position="-0.02427 -0.95329 -0.79608" orientation="-0.00707 0.87466 -0.48473 3.12040" description="camera" centerOfRotation='0,0,0' ></Viewpoint>
                <Viewpoint id="symptomAreaMANSyphHands" position="-0.25427 0.85329 -0.39608"  description="camera" orientation='-0.000 1.0 0.00219 -3.2' centerOfRotation="-0.25427 0.85329 -0.39608"></Viewpoint>
                <Viewpoint id="symptomAreaMANSyphAnus" position="-0.0000 0.85329 0.39608" orientation="-0.01451 0.99989 0.00319 0.0" description="camera" centerOfRotation="0.000000 0.850177 -0.107276"></Viewpoint>
              <!--<navigationInfo type="turntable" speed="0"> </navigationInfo> -->
                <Transform><inline  nameSpaceName="Syphilis_Model_Man" mapDEFToID="true" url="./STI_Models_Male/Syphilis_Male.x3d"  ></inline></Transform>






            </scene>

          </x3d>
          </div>

      </div>

        <div class=" col ">
          <div class="colArt">


<div class="ButtonStylingSTI STISmallHeading">Syphilis</div>
      <div class="ButtonStylingSTIHolder">
          <div class="row">
              <div class="ButtonStylingSTI " id="symptom1SyphMAN" onclick="symptomzoom1MANSyph('symptomAreaMANSyph', 'Syphilis_Model_Man__MA_Man_Skin_Texture_Syph', 'Syphilis_Model_Man__MA_Ulcers_texture_Syphilis')">Symptom 1</div>
              <div class="ButtonStylingSTI " id="symptom2SyphMAN" onclick="symptomzoom2MANSyph('symptomAreaMANSyphMouth', 'Syphilis_Model_Man__MA_Man_Skin_Texture_Syph', 'Syphilis_Model_Man__MA_Mouth_Ulcers_Sythilis')">Symptom 2</div>
              <div class="ButtonStylingSTI " id="symptom3SyphMAN" onclick="symptomzoom3MANSyph('symptomAreaMANSyphAnus', 'Syphilis_Model_Man__MA_Man_Skin_Texture_Syph', 'Syphilis_Model_Man__MA_Ulcers_Anus_Syphilis')">Symptom 3</div>

              <div class="ButtonStylingSTI " id="symptom4SyphMAN" onclick="symptomzoom4MANSyph('symptomAreaMANSyphHeadAche', 'Syphilis_Model_Man__MA_Man_Skin_Texture_Syph', 'Syphilis_Model_Man__MA_headaches_Syphilis')">Symptom 4</div>
              <div class="ButtonStylingSTI " id="symptom5SyphMAN" onclick="symptomzoom5MANSyph('symptomAreaMANSyphFeet', 'Syphilis_Model_Man__MA_Man_Skin_Texture_Syph', 'Syphilis_Model_Man__MA_Foot_Rash_Siphilis', 'Syphilis_Model_Man__MA_Banana_texture_MANGW', 'Syphilis_Model_Man__MA_Banana_texture_MANGW1', 'Syphilis_Model_Man__MA_Cherry_Stem_texture_MAN_GW', 'Syphilis_Model_Man__MA_Cherry_texture_MANGW')">Symptom 5</div>
              <div class="ButtonStylingSTI " id="symptom6SyphMAN" onclick="symptomzoom6MANSyph('symptomAreaMANSyphHands', 'Syphilis_Model_Man__MA_Man_Skin_Texture_Syph', 'Syphilis_Model_Man__MA_Hand_Rash')">Symptom 6</div>
              <div class="ButtonStylingSTI " id="symptom7SyphMAN" onclick="symptomzoom7MANSyph('symptomAreaMANSyphGlands', 'Syphilis_Model_Man__MA_Man_Skin_Texture_Syph', 'Syphilis_Model_Man__MA_Neck_Glands_Syphilis', 'Syphilis_Model_Man__MA_Groin_Glands_syphilis', 'Syphilis_Model_Man__MA_Armpit_Glands_syphilis', 'Syphilis_Model_Man__MA_Banana_texture_MANGW', 'Syphilis_Model_Man__MA_Banana_texture_MANGW1', 'Syphilis_Model_Man__MA_Cherry_Stem_texture_MAN_GW', 'Syphilis_Model_Man__MA_Cherry_texture_MANGW')">Symptom 7</div>

              <div class="ButtonStylingSTI " onclick="cameraChangeMANSyph('ResetMANSyph')" >Reset</div>

            </div>
          </div>


      <div class="row STIsymptomInfoBoxMove">
        <div class="STIsymptomInfoBox" id="symptom1InfoMANSyph">
          <h1>Symptom 1</h1>
          <p>Painful sores may appear near the genitals</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom2InfoMANSyph">
          <h1>Symptom 2</h1>
          <p>Painful sores may appear near the mouth</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom3InfoMANSyph">
          <h1>Symptom 3</h1>
          <p>Painful sores may appear near the anus</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom4InfoMANSyph">
          <h1>Symptom 4</h1>
          <p>Flu symptoms - such as a headache can occur</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom5InfoMANSyph">
          <h1>Symptom 5</h1>
          <p>Skin changes - a painful rash may occur often on the soles of the feet</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom6InfoMANSyph">
          <h1>Symptom 6</h1>
          <p>Skin changes - a painful rash may occur often on the palms of the hands</p>
        </div>
        <div class="STIsymptomInfoBox" id="symptom7InfoMANSyph">
          <h1>Symptom 7</h1>
          <p>Flu symptoms - glands in the groin, neck and armpit may become swollen </p>
        </div>

      </div>

      </div>
      <div class="ColBot">
        <div class="ButtonStylingSTI STISmallHeading">Treatment</div>
        <div class="treatmentInfo">
          CHANGE ME
        </div>

      </div>
    </div>





</div>
<div class="ChoiceholdBackSTI">

</div>


<script type="text/javascript">
function symptomzoom1MANSyph(symptoms, texture1, texture2) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');
document.getElementById(texture2).setAttribute('transparency', '0.0');

document.getElementById('symptom1InfoMANSyph').style.height = '400px';
document.getElementById('symptom1InfoMANSyph').style.opacity = '1.0';
$( "#symptom2SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom3SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom4SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom5SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom6SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom7SyphMAN" ).addClass( "disableItemSelect" );
}

function symptomzoom2MANSyph(symptoms, texture1, texture2) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');
document.getElementById(texture2).setAttribute('transparency', '0.0');

document.getElementById('symptom2InfoMANSyph').style.height = '400px';
document.getElementById('symptom2InfoMANSyph').style.opacity = '1.0';
$( "#symptom1SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom3SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom4SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom5SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom6SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom7SyphMAN" ).addClass( "disableItemSelect" );
}

function symptomzoom3MANSyph(symptoms, texture1, texture2) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');
document.getElementById(texture2).setAttribute('transparency', '0.0');

document.getElementById('symptom3InfoMANSyph').style.height = '400px';
document.getElementById('symptom3InfoMANSyph').style.opacity = '1.0';
$( "#symptom1SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom2SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom4SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom5SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom6SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom7SyphMAN" ).addClass( "disableItemSelect" );
}

function symptomzoom4MANSyph(symptoms, texture1, texture2) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.0');
document.getElementById(texture2).setAttribute('transparency', '0.0');

document.getElementById('symptom4InfoMANSyph').style.height = '400px';
document.getElementById('symptom4InfoMANSyph').style.opacity = '1.0';
$( "#symptom1SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom2SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom3SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom5SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom6SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom7SyphMAN" ).addClass( "disableItemSelect" );
}

function symptomzoom5MANSyph(symptoms, texture1, texture2, texture3, texture4, texture5, texture6) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.7');
document.getElementById(texture2).setAttribute('transparency', '0.0');
document.getElementById(texture3).setAttribute('transparency', '1.0');
document.getElementById(texture4).setAttribute('transparency', '1.0');
document.getElementById(texture5).setAttribute('transparency', '1.0');
document.getElementById(texture6).setAttribute('transparency', '1.0');

document.getElementById('symptom5InfoMANSyph').style.height = '400px';
document.getElementById('symptom5InfoMANSyph').style.opacity = '1.0';
$( "#symptom1SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom2SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom3SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom4SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom6SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom7SyphMAN" ).addClass( "disableItemSelect" );

}

function symptomzoom6MANSyph(symptoms, texture1, texture2) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.7');
document.getElementById(texture2).setAttribute('transparency', '0.0');

document.getElementById('symptom6InfoMANSyph').style.height = '400px';
document.getElementById('symptom6InfoMANSyph').style.opacity = '1.0';
$( "#symptom1SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom2SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom3SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom4SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom5SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom7SyphMAN" ).addClass( "disableItemSelect" );
}
function symptomzoom7MANSyph(symptoms, texture1, texture2, texture3, texture4, texture5, texture6, texture7, texture8) {
document.getElementById(symptoms).setAttribute('set_bind','true');
document.getElementById(texture1).setAttribute('transparency', '0.7');
document.getElementById(texture2).setAttribute('transparency', '0.0');
document.getElementById(texture3).setAttribute('transparency', '0.0');
document.getElementById(texture4).setAttribute('transparency', '0.0');
document.getElementById(texture5).setAttribute('transparency', '1.0');
document.getElementById(texture6).setAttribute('transparency', '1.0');
document.getElementById(texture7).setAttribute('transparency', '1.0');
document.getElementById(texture8).setAttribute('transparency', '1.0');

document.getElementById('symptom7InfoMANSyph').style.height = '400px';
document.getElementById('symptom7InfoMANSyph').style.opacity = '1.0';
$( "#symptom1SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom2SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom3SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom4SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom5SyphMAN" ).addClass( "disableItemSelect" );
$( "#symptom6SyphMAN" ).addClass( "disableItemSelect" );
}

function cameraChangeMANSyph(Camera) {
document.getElementById(Camera).setAttribute('set_bind','true');
document.getElementById('Syphilis_Model_Man__MA_Man_Skin_Texture_Syph').setAttribute('transparency', '0.0');
document.getElementById('Syphilis_Model_Man__MA_Ulcers_texture_Syphilis').setAttribute('transparency', '1.0');
document.getElementById('Syphilis_Model_Man__MA_Mouth_Ulcers_Sythilis').setAttribute('transparency', '1.0');
document.getElementById('Syphilis_Model_Man__MA_Ulcers_Anus_Syphilis').setAttribute('transparency', '1.0');
document.getElementById('Syphilis_Model_Man__MA_headaches_Syphilis').setAttribute('transparency', '1.0');
document.getElementById('Syphilis_Model_Man__MA_Foot_Rash_Siphilis').setAttribute('transparency', '1.0');
document.getElementById('Syphilis_Model_Man__MA_Hand_Rash').setAttribute('transparency', '1.0');
document.getElementById('Syphilis_Model_Man__MA_Neck_Glands_Syphilis').setAttribute('transparency', '1.0');
document.getElementById('Syphilis_Model_Man__MA_Groin_Glands_syphilis').setAttribute('transparency', '1.0');
document.getElementById('Syphilis_Model_Man__MA_Armpit_Glands_syphilis').setAttribute('transparency', '1.0');

document.getElementById('Syphilis_Model_Man__MA_Banana_texture_MANGW').setAttribute('transparency', '0.0');
document.getElementById('Syphilis_Model_Man__MA_Banana_texture_MANGW1').setAttribute('transparency', '0.0');
document.getElementById('Syphilis_Model_Man__MA_Cherry_Stem_texture_MAN_GW').setAttribute('transparency', '0.0');
document.getElementById('Syphilis_Model_Man__MA_Cherry_texture_MANGW').setAttribute('transparency', '0.0');


$( "#symptom1SyphMAN" ).removeClass( "disableItemSelect" );
$( "#symptom2SyphMAN" ).removeClass( "disableItemSelect" );
$( "#symptom3SyphMAN" ).removeClass( "disableItemSelect" );
$( "#symptom4SyphMAN" ).removeClass( "disableItemSelect" );
$( "#symptom5SyphMAN" ).removeClass( "disableItemSelect" );
$( "#symptom6SyphMAN" ).removeClass( "disableItemSelect" );
$( "#symptom7SyphMAN" ).removeClass( "disableItemSelect" );
document.getElementById('symptom1InfoMANSyph').style.height = '60px';
document.getElementById('symptom2InfoMANSyph').style.height = '60px';
document.getElementById('symptom3InfoMANSyph').style.height = '60px';
document.getElementById('symptom4InfoMANSyph').style.height = '60px';
document.getElementById('symptom5InfoMANSyph').style.height = '60px';
document.getElementById('symptom6InfoMANSyph').style.height = '60px';
document.getElementById('symptom7InfoMANSyph').style.height = '60px';

document.getElementById('symptom1InfoMANSyph').style.opacity = '0.0';
document.getElementById('symptom2InfoMANSyph').style.opacity = '0.0';
document.getElementById('symptom3InfoMANSyph').style.opacity = '0.0';
document.getElementById('symptom4InfoMANSyph').style.opacity = '0.0';
document.getElementById('symptom5InfoMANSyph').style.opacity = '0.0';
document.getElementById('symptom6InfoMANSyph').style.opacity = '0.0';
document.getElementById('symptom7InfoMANSyph').style.opacity = '0.0';

}

//function ChlamydiaName(){
//document.getElementById('Syphilis_Model_Man__MA_typeBlinn1').setAttribute('diffuseColor', '0 5 0');
//document.getElementById('Syphilis_Model_Man__MA_typeBlinn1').setAttribute('transparency', '0.0');
//}

</script>
</template>
