<template name="TypesOfSex">

  <script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
<div class="row compatabilityStyling">
  <div class="siteInformationSTIs row">
    <h1>Sexual Activities</h1>

  <!--<p>Sexual Health information and services</p> -->
  </div>
  <div class="TypesOfSexHold row">

      <div class=" col ">
      https://www.nhs.uk/Livewell/STIs/Pages/Sexualactivitiesandrisk.aspx
      </div>

      <div class="col ">

      </div>
</div>


</div>

<script type="text/javascript">

      </script>

</template>
