.chatlogs {
 padding: 10px;
 width: 100%;
 height: 240px;
 overflow-x: hidden;
 overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
  width: 5px;
}

.chatlogs::-webkit-scrollbar-thumb {
 border-radius: 5px;
 background: rgba(0,0,0,.1);
}

.chat {
 display: flex;
 flex-flow: row wrap;
 align-items: flex-start;
 margin-bottom: 5px;
}

.chat .chat-message {
    width: 70%;
    padding: 7px;
    margin: 2px 5px 0;
    background: #1ddced;
    border-radius: 5px;
    color: #fff;
    font-size: 9px;
}

.reply .chat-message {
    background: #4353a4;
}

.self .chat-message {
 background: #f04d25;
 order: -1;
 margin-left: 28%;
}

.chat-form {
 margin-top: 10px;
 display: flex;
 align-items: flex-start;
}

.chat-form textarea {
 background: #fbfbfb;
 width: 75%;
 height: 25px;
 border: 2px solid #eee;
 border-radius: 3px;
 resize: none;
 padding: 5px;
 font-size: 9px;
 color: #333;
}

.chat-form textarea:focus {
 background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
  width: 5px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
 border-radius: 5px;
 background: rgba(0,0,0,.1);
}

.chat-form button {
 background: #FE7150;
 padding: 2px 7px;
 font-size: 15px;
 color: #fff;
 border: none;
 margin: 0 5px;
 border-radius: 3px;
 box-shadow: 0 3px 0 #f04d25;
 cursor: pointer;


 -webkit-transition: background .2s ease;
 -moz-transition: background .2s ease;
 -o-transition: background .2s ease;

}

chat-form button:hover {
  background: #13c8d9;
}

.validation{
  position: absolute;
  bottom: 40px;
  left:0px;
  color:#aa2323;
  font-size:1em;
  visibility: hidden;
}

.errorValidation{
  $borderColor: lighten(#aa2323, 40%);
  border: solid 3px $borderColor !important;
}

// wrapper2 {
//   $color:#aa2323;
//   $borderColor:lighten($color, 40%);
//
//   border:solid 3px $borderColor;
//   @include border-radius(3px);
//
//   .input{
//     border:solid 1px darken($borderColor, 10%);
//     height:30px;
//     line-height:30px;
//     @include box-shadow(inset 0 3px 6px rgba(150,150,150,.2));
//   }
//   .validation{
//     position: absolute;
//     top: 35px;
//     left:0px;
//     color:$color;
//     font-size:12px;
//   }
// }
