@media screen and (max-width: 480px) {

  .full-image{
    background-image: url('./Logo/Logo_Normal.png') !important;
    background-color: white;
    background-size: 90% auto !important;
    background-position-y: 20% !important;
  }
  .image-content{
    left: 50% !important;
    top: 60% !important;
  }

  .chat-widget-wrapper {
    width: 100% !important;
  }

  .chat-box-container {
    width: 100% !important;
  }

  .chat-box-container.show {
    height: 20em !important;
  }

  .chatlogs {
    height: 15em !important;
  }

  .chat-form textarea {
    height: 2.5em !important;
    font-size: 20px !important;
  }

  .chat-form button {
    font-size: 1.5em !important;
  }

  .chat .chat-message {
    font-size: 1em !important;
  }

  .chat-widget-wrapper {
    // height: 5em !important;
  }

  .chat-widget-text{
    // font-size: 2em !important;
  }

  //cookie banner
  .cookie-banner{
    p{
      width: 75% !important;
    }
  }

  .cookie-banner .button {
    width: 2em !important;
    height: 2em !important;
  }

  #mainBackground{
    width: 0px !important;
    border: none !important;
  }

  .validation {
    bottom: 5em;
    font-size: 1.5em;
  }

  #StartInformation {
    padding-left: 0px !important;
    margin-top: 2vh !important;
  }

  #siteInformation {
    margin-left: 0vw !important;
    //font-size: 4em !important;

    h1 {
      font: 900 4em 'Roboto Slab', sans-serif !important;
    }
  }

  #choiceHoldInfo {
    height: 60vh !important;
  }

  .choicehold {
    padding-left: 0px !important;
  }

  #siteInformation3 {
    width: 100% !important;
    margin-left: 0vw !important;
    font: 900 1em 'Roboto Slab', sans-serif !important;
  }

  #closeMainMenuOption1 {
    height: auto !important;
    margin-bottom: 2em !important;
  }
}
